.change-account-settings {
  padding-top: 20px;
}

.profile-information-panel {
  padding: 0 20px;
}

.edit-profile-wrapper {
  padding-right: 70px;
  padding-left: 0px;
  @include mobile {
    padding-right: 30px;
  }
}

.cancel-button-block {
  position: relative;
  padding-left: 50px;

  .cancel-button {
    display: block;
    position: absolute;
    bottom: 20px;
  }

  @include mobile {
    padding-left: 0;
    text-align: center;

    .cancel-button {
      position: relative;
      bottom: 0;
    }
  }
}

.save-button {
  margin-right: 20px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;

  .static-titles {
    color: map-get($ucx-colors, light-orange);
  }

  i {
    color: map-get($ucx-colors, light-orange);
    font-size: 30px;

    &:hover {
      transform: scale(1);
    }
  }
}

.main-content {
  background: map-get($ucx-colors, dark-gray);
}

.columns label {
  color: map-get($ucx-colors, light-orange);
}

.side-menu {


  .edit-profile-menu {
    position: fixed;

    ul {
      border-color: map-get($ucx-colors, light-orange);

      a {
        color: map-get($ucx-colors, light-orange);

        &:hover {
          border: 1px solid map-get($ucx-colors, light-orange);
          background: map-get($ucx-colors, light-orange);
          color: white;
        }
      }
    }

    @include mobile {
      position: relative;
    }
  }
}

.side-menu-parent {
  margin-right: 10px;
  //height: calc(100vh - 120px);

  //background: linear-gradient(to top, #434343 -29%, #000000);
  //border-right: 1px solid grey;
  padding-top: 20px;

  @include mobile {
    margin-right: 0;
  }
}

.display-address {
  display: none;
}

.edit-profile-display {
  input {
    pointer-events: none;
    background-color: transparent;
    color: map-get($ucx-colors, extra-light-gray);
    border: none;
  }

  hr {
    display: none;
  }

  .address-wrapper {
    display: none;
  }

  .display-address {
    display: block;
    color: map-get($ucx-colors, extra-light-gray);

    p {
      margin-left: 7px;
    }
  }

  button {
    display: none;
  }
}

.edit-account {
  height: 100%;
  .account-wrapper{
    margin-top: 0;
    overflow: hidden;
  }
}


/*
body {
  background: linear-gradient(135deg, rgb(21, 70, 45),rgb(177, 24, 19),rgb(203, 214, 34));
}*/
