

<div class="search-container">
  <span>
    <i class="fas fa-search search-icon"></i>
  </span>
  <input type="text" class="search-bar" placeholder="Search products..." name="search">
</div>
<div class="columns is-multiline is-mobile is-tablet is-desktop">
  <div *ngFor="let product of products" [item]="product"
       app-product-item
       class="column is-desktop is-tablet is-12-mobile is-3-desktop"></div>
</div>
<div class="product-list">
    <app-product-list-pagination *ngIf="products.length != 0 "></app-product-list-pagination>
</div>
