.control {
  padding: 10px;
}

#creditcard-icon {
  font-size: 150px;
  color: ghostwhite;
  &:hover{
    transform: scale(1);
  }
}

#checkout-button {
  &:hover {
    color: #000;
  }
}

#goback-button {
  &:hover {
    color: #000;
  }
}

.cash-total h1{
  color: floralwhite;
}
