.control {
  padding: 10px;
}

#creditcard-icon {
  font-size: 110px;
  color: ghostwhite;

  &:hover {
    transform: scale(1);
  }
}

.credit-card-forms {
  margin-bottom: 0.5rem!important;
}

#checkout-button {
  color: white;

  &:hover {
    color: #000;
  }
}

#goback-button {
  &:hover {
    color: #000;
  }
}

.cash-total h1 {
  color: floralwhite;
}
