.step-buttons a:first-child {
  background-color: map_get($ucx-colors, light-orange)
}

.shipping-infos {
  margin-left: 3px;
  border-top: 1px solid map_get($ucx-colors, deep-orange);
  padding: 40px;

  .shipping-total {
    padding: 80px 0;
  }
}

.credit-card-iconi {
  color: whitesmoke;
}

.license-qty{
  color: white;
}

.product-platform {
  color: white;
}

.unit-price-verification{
  color: white;
}

.shipping-parent {
  p {
    margin-bottom: 20px;
  }
  text-align: center;
  background-color: #1f2833;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  border: 1px solid map_get($ucx-colors, deep-orange);
  padding: 40px 23px;

  .shipping-total {
    text-align: center;
  }
}

.shipping-parent-infos {
  padding: 40px;
  @include mobile {
    padding: 25px;
  }

  .shipping-infos {
    padding: 10px 0;
  }
}


