.dark_background {
  background: #000;
  min-height: 100vh;

}

.main-box {
  //border: 1px solid map_get($ucx-colors,deep-orange);
  //background: map_get($ucx-colors,dark-gray);
  background: transparent;
  border-radius: 12px;

  img {
    border-radius: 12px;
  }

  margin: 90px;
  @include mobile {
    margin: 10px 10px;
  }

  .inner-box {
    //background: map_get($ucx-colors,dark-gray);
    background: transparent;
    border: 1px solid map_get($ucx-colors, deep-orange);
    color: map_get($ucx-colors, deep-orange);
    border-radius: 12px;
    //align-items: center;
  }

  @include desktop {
    .wishlist-item-information {
      margin-left: 0px;
    }
    .wishlist-image-container {
      width: auto;
    }
  }


  h1 {
    font-size: 25px;
    font-weight: 10;
    color: map_get($ucx-colors, deep-orange);
  }
  h1.wl-price{
    color: white;
  }

  @include mobile {
    img {
      width: 600px;
    }
  }

  .wishlist-button-container {
    .wishlist-button {
      line-height: 0;
      font-size: 0.8rem;
      //font-weight: 600;
      margin-left: 0px;
      margin-top: 20px;
      margin-bottom: 0;
      outline: none;
      border: none;
      //border-color: map-get($ucx-colors, deep-orange);
      background-color: transparent;
      color: white;
      transition: all 0.5s;
      padding: 22px 40px;
      border-radius: 12px;
      cursor: pointer;

      background-color: map-get($ucx-colors, deep-orange);

      &:hover {
        color: black;
      }
    }

    @include mobile {
      .wishlist-button {
        width: 100%;
      }
    }

  }
}

.wishlist-button-container {
  align-items: baseline;
}

.remove-button {
  //float: right;
  line-height: 0;
  font-size: 1rem;
  //font-weight: 600;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0;
  border: 1.3px solid map-get($ucx-colors, deep-orange);
  outline: none;
  //border-color: map-get($ucx-colors, deep-orange);
  background-color: transparent;
  color: map-get($ucx-colors, light-gray);
  transition: all 0.5s;
  padding: 3.5px 7px;
  border-radius: 500px;
  cursor: pointer;

  i {
    font-size: 20px;
    color: orange;
  }

  &:hover {
    //i{
    //  color: black;
    //}
    //background-color: map-get($ucx-colors, deep-orange);
  }

}

#icon-container {
  width: 19%
}

.emptyWishlist {
  margin-top: 120px;
  width: 100%;
  text-align: center;
  font-family: Bahnschrift;

  h1 {
    font-size: 40px;
    color: white;
  }

  h3 {
    font-size: 25px;
  }

  .startShopping {
    margin: 30px;
    padding: 10px 30px;
    background: map_get($ucx-colors, deep-orange);
    border: none;
    border-radius: 9px;

    &:hover {
      transform: scale(1.1);
      transition: 0.7s;
    }
  }
}

.column-container {
  width: 106%;
}
