<!-- PAGINATION -->
<div class="block pg">
  <div class="pagination">
    <ng-template [ngIf]="lastPageIndex>=2" [ngIfElse]="lowerThanFourPages">
      <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous pagination-default" (click)="changePage(currentPage - 1)" >Previous</a>
        <a class="pagination-next pagination-default" (click)="changePage(currentPage + 1)">Next page</a>
        <ul class="pagination-list">
          <li>
            <a class="pagination-link pagination-default" aria-label="Goto page 1" (click)="changePage(0)" [class.selected]="currentPage==0" >1</a>
          </li>
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a class="pagination-link pagination-default" (click)="changePage(left-1)" [class.selected]="currentPage==left-1">{{left}}</a>
          </li>
          <li>
            <a class="pagination-link pagination-default" (click)="changePage(mid-1)" [class.selected]="currentPage==mid-1">{{mid}}</a>
          </li>
          <li>
            <a class="pagination-link pagination-default" (click)="changePage(right-1)" [class.selected]="currentPage==right-1"> {{right}}</a>
          </li>
          <li>
            <span class="pagination-ellipsis" [class.hidden]="">&hellip;</span>
          </li>
          <li>
            <a class="pagination-link pagination-default" aria-label="Goto page " (click)="changePage(lastPageIndex)"  [class.selected]="currentPage==lastPageIndex">{{lastPageIndex+1}}</a>
          </li>
        </ul>
      </nav>
    </ng-template>


    <ng-template #lowerThanFourPages
    >


      <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" title="This is the first page" (click)="changePage(currentPage - 1)">Previous</a>
        <a class="pagination-next" (click)="changePage(currentPage + 1)">Next page</a>
        <ul class="pagination-list">
          <li>
            <a *ngFor="let dummy of ' '.repeat(lastPageIndex+1).split(''), let x = index" class="pagination-link "
               routerLink="/../../../app"
               aria-label="Page 1" aria-current="page" (click)="changePage(x)" [class.selected]="currentPage==x" >{{x+1}}</a>
          </li>
        </ul>
      </nav>

    </ng-template>

  </div>
</div>

<!--routerLink="serverLink/paged?size={{pageSize}}&page={{x}}"-->
