<app-header></app-header>
<div class="contact-us-screen">
  <div class="contact-us-wrapper">

    <div class="title-contact-us">

      <div class="test">
        <div><h3></h3></div>
        <div>
          <h3>HAVE SOME QUESTIONS? CONTACT US</h3>
        </div>

      </div>
    </div>
    <div class="columns">
      <div class="contact-form">
        <form [formGroup]="contactUsFormGroup" class="form" (ngSubmit)="onSubmit()">
          <div class="columns">
            <div class="column">
              <label class="label">Full name</label>
              <input formControlName="name" type="text" class="input form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="column">
              <label class="label">Email address</label>
              <input formControlName="email" type="text" class="input form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
          </div>

          <label class="label">Message</label>
          <textarea formControlName="message" class="input form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
          <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
            <div *ngIf="f.message.errors.required">Message is required</div>
          </div>
          <div class="field is-grouped is-grouped-left">
            <button class="contact-us-button">Submit</button>
          </div>
<!--          <div *ngIf="messageForm">-->
<!--            <div>Form has been submitted.</div>-->
<!--          </div>-->
      </form>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>
