<div class="columns">
  <div class="column is-2">
    <app-products-sidebar></app-products-sidebar>
  </div>
  <div class="column is-10">
    <app-product-list [products]="products"></app-product-list>

    <!-- PAGINATION -->
    <div class="block pg">
      <div class="pagination">
        <a href="" class="pagination-previous">Previous </a>
        <a href="" class="pagination-next">Next Page</a>
        <ul class="pagination-list">
          <li>
            <a href="" class="pagination-link is-current ">1</a>
          </li>
          <li>
            <a href="" class="pagination-link">2</a>
          </li>
          <li>
            <a href="" class="pagination-link">3</a>
          </li>
          <li>
            <a href="" class="pagination-link">4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
