<app-header></app-header>
<div class="columns">
  <div class="column is-2-desktop">
    <app-products-sidebar (params)="onFilterChange($event)"></app-products-sidebar>
  </div>
  <div class="column is-10-desktop is-12-mobile is-12-tablet">
    <div class="inner-products">
      <app-product-list [products]="products"></app-product-list>
    </div>
  </div>

  <div class="modal" [ngClass]="{'is-active': userService.justSignUp}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Sign in to UCXGaming</p>
        <button class="delete" aria-label="close" (click)="removeActiveClass()"></button>
      </header>
      <section class="modal-card-body">
        <div class="auth-content login-screen">
          <div class="auth-form-header">
            <h4>Sign in to UCXMarket</h4>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
