<app-header></app-header>
<div class="columns">
  <div class="column is-2-desktop">
    <app-products-sidebar
      (prices)="onFilterChange($event)"
      (params)="onFilterChange($event)"></app-products-sidebar>
  </div>
  <div class="column is-10-desktop is-12-mobile is-12-tablet">
    <div class="inner-products">
      <app-product-list [products]="products"></app-product-list>
    </div>
  </div>

  <div class="modal is-hidden-mobile" [ngClass]="{'is-active': userService.justSignUp}">
    <div class="modal-background"></div>
    <div class="modal-card modal-cart-wrapper">
      <section class="modal-card-body model-edit-profile-body">
        <div class="modal-content-edit-profile">

          <div class="columns">
            <div class="">
              <div class="additional-information-wrap">
                <div class="additional-information-screen">
                  <div class="auth-form-header">
                    <img src="assets/img/ucx-logo-mobile.png" alt="">
                    <h4>Additional Information</h4>
                    <span>Enter your additional information.</span>
                  </div>
                  <form [formGroup]="informationForm" class="form" (submit)="onSubmit()">
                    <div id="box-phone">
                      <div>
                        <div class="columns">
                          <div class="column is-12">
                            <label>Phone Number</label><br>
                            <input formControlName="phoneNumber" type="text" class="input form-control" [ngClass]="{ 'is-invalid': (submitted && f.phoneNumber.errors) || numbersOnlyValidator }" (keypress)="numbersOnly($event)">
                            <div *ngIf="(submitted && f.phoneNumber.errors) || numbersOnlyValidator " class="invalid-feedback">
                              <div *ngIf="f.phoneNumber.errors.required">PhoneNumber is required</div>
                              <div *ngIf="numbersOnlyValidator">Phone number must be a number</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <h3 class="title is-5 static-titles">Address</h3>
                    <div id="box-address">
                      <div formArrayName="addresses" *ngFor="let n of informationForm.get('addresses')['controls']; let i = index;">
                        <div class="columns" [formGroupName]="0">
                          <div class="column is-3">
                            <label class="label">Country</label>
                            <input type="text" class="input form-control" formControlName="country" [ngClass]="{ 'is-invalid': submitted && n.controls.country.errors }">
                            <div *ngIf="submitted && n.controls.country.errors" class="invalid-feedback">
                              <div *ngIf="n.controls.country.errors.required">Country is required</div>
                            </div>
                          </div>

                          <div class="column is-3">
                            <label class="label">City</label>
                            <input type="text" class="input form-control" formControlName="city" [ngClass]="{ 'is-invalid': submitted && n.controls.city.errors }">
                            <div *ngIf="submitted && n.controls.city.errors" class="invalid-feedback">
                              <div *ngIf="n.controls.city.errors.required">City is required</div>
                            </div>
                          </div>

                          <div class="column is-2">
                            <label class="label">Zip code</label>
                            <input maxlength="9" type="text" class="input form-control" formControlName="zipCode" [ngClass]="{ 'is-invalid': submitted && n.controls.zipCode.errors }">
                            <div *ngIf="submitted && n.controls.zipCode.errors" class="invalid-feedback">
                              <div *ngIf="n.controls.zipCode.errors.required">Zip Code is required</div>
                            </div>
                          </div>

                          <div class="column is-4">
                            <label class="label">Street</label>
                            <input type="text" class="input form-control" formControlName="street" [ngClass]="{ 'is-invalid': submitted && n.controls.street.errors }">
                            <div *ngIf="submitted && n.controls.street.errors" class="invalid-feedback">
                              <div *ngIf="n.controls.street.errors.required">Street is required</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <br>
                    <div class="columns">
                      <br>
                      <div class="column">
                        <button class="auth-button">Save</button>
                      </div>
                      <div class="column">
                        <button class="auth-button" (click)="skipAdditionalInformation()">Skip</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>


        </div>
      </section>
    </div>
  </div>

</div>
