<app-header></app-header>
<div class="container">
  <div class="checkout-steps">
    <div class="step-buttons no-hover">
      <a class="button is-rounded is-hovered" href="checkout.html">1</a>
      <a class="button is-rounded is-hovered" href="shipping.html">2</a>
      <a class="button is-rounded is-hovered" href="#">3</a>
      <a class="button is-rounded is-hovered" href="payment-methods.html">4</a>
    </div>
  </div>
  <div class="sub-info">
    <div class="columns is-mobile">
      <div class="column is-4-desktop is-6-mobile has-text-centered">
        <h1>PAYMENT METHOD</h1>
      </div>
    </div>
    <div class="columns payment-container is-mobile is-multiline">
      <div class="border-container column is-4-desktop is-12-mobile">
        <a class="payment-method-link" href="#" id="img-paypal">
          <span class="category-icon"><img alt="" src="assets/img/paypal1.png"></span>
          <br>
          <span class="payment-method-title">PAYPAL</span>
        </a>
      </div>
      <div class="column is-4-desktop is-12-mobile">
        <a class="payment-method-link" href="#" id="img-credit-card">
                <span class="category-icon">
                    <img alt="" class="img-credit-card" src="assets/img/creditcard1.png">
                </span><br>
          <span class="category-title">CREDIT CARD</span>
        </a>
      </div>
      <div class="column is-4-desktop is-12-mobile">
        <a class="payment-method-link" href="#" id="img-cash">
                <span class="category-icon">
                    <img alt="" class="img-cash" src="assets/img/cash2.png">
                </span><br>
          <span class="category-title">CASH</span>
        </a>
      </div>
    </div>

    <div class="columns back-next-buttons">
      <div class="column is-12-desktop is-12-mobile left-button has-text-centered">
        <a class="button " href="shipping.html">Previous</a>
      </div>
    </div>
  </div>
</div>
