<app-header></app-header>
<div class="edit-account">
  <div class="columns account-wrapper">
    <div class="column is-3 side-menu-parent">
          <aside class="menu edit-profile-menu">
<!--            <p class="menu-label">Account information</p>-->
            <ul class="menu-list">
              <li>
                <a [routerLink]="['./edit-profile']"><i class="fas fa-user-alt" ></i> Profile Information</a>
              </li>
              <li><a [routerLink]="['./order-history']"><i class="far fa-clock" ></i> Order History</a></li>
            </ul>
          </aside>
    </div>
    <div class="column is-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
