<app-header></app-header>
<div>
  <div class="column">
    <div *ngIf="cartProducts && cartProducts.length > 0">
      <h1 class="title-color">Your Shopping Cart</h1>
      <hr>
    </div>
    <br>
    <div class="container main-container-checkout" *ngIf="cartProducts && cartProducts.length > 0; else emptyCart">
<!--      <div class="" >-->
        <div class="columns is-mobile" *ngFor="let item of cartProducts">
          <div class="column cart-items is-11">
            <div class="columns is-vcentered">
              <div class="column is-2">
                <div class="product-img">
                  <img [src]="item.product.fileName" alt="">
                </div>
              </div>
              <div class="column is-3 product-info">
                <h1>{{ item.product.name }}</h1>
                <p>{{ item.product.description }}</p>
              </div>
              <div class="column is-2 product-info">
                <h2>{{ item.isInStock ? 'Available': 'Out of stock' }} </h2>
              </div>
              <div class="column is-1">
                <br>
                <h2>{{ item.qty }}</h2>
                <div class="buttons">
                  <span class="button is-small qty" (click)="addQty(item)"><strong>+</strong></span>
                  <span class="button is-small qty" (click)="subQty(item)"><strong>-</strong></span>
                </div>
              </div>
              <div class="column is-2 product-info">
                <label>Price</label>
                <h1>{{ item.product.unitPrice}} $ </h1>
              </div>
              <div class="column is-2 product-info">
                <label>Total price</label>
                <h1>{{ (item.product.unitPrice * item.qty).toFixed(2)}} $ </h1>
              </div>
            </div>
          </div>
          <div class="column is-1 cancels">
            <div class="cancel-item">
              <a (click)="deleteFromCart(item)" class="delete is-large is-center"></a>
            </div>
          </div>
        </div>
      <div class="columns cart-items-footer">
        <div class="column is-4 left-link">
          <a routerLink="/">Continue Shopping</a>
        </div>
        <div class="column is-4 subtotal">
          <h2>Subtotal: {{this.cartService.generateTotalPrice().toFixed(2)}}$</h2>
        </div>
        <div class="column is-4 right-link">
          <div *ngIf="showRoute">
            <a routerLink="/cart/shipping">Proceed to Checkout</a>
          </div>
          <div *ngIf="!showRoute">
            <a (click)="isLoginModalActive()">Proceed to Checkout</a>
          </div>
        </div>
      </div>

        <!--       buttons     -->

<!--      </div>-->
                                              <!--  Login/Register Modal    -->
      <div class="modal" [ngClass]="{'is-active':isModalActive}">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Sign in to UCXGaming</p>
            <button class="delete" aria-label="close" (click)="removeActiveClass()"></button>
          </header>
          <section class="modal-card-body">
            <div class="auth-content login-screen">
              <div class="auth-form-header">
                <img src="assets/img/ucx-white-logo.svg" alt="">
                <h4>Sign in to UCXMarket</h4>
                <span>Enter your email and password below</span>
              </div>

              <form [formGroup]="loginForm" (submit)="onLoginFormSubmit()">
                <div class="field">
                  <div class="control">
                    <input type="text" [formControlName]="'email'" class="input auth-input" placeholder="Username or Email">
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input type="text" [formControlName]="'password'" class="input auth-input" placeholder="Password">
                  </div>
                </div>

                <div>
                  <button class="auth-button">Sign in</button>
                </div>
              </form>

              <div class="auth-form-footer">
                <div class="forgot-password-link">
                  <a [routerLink]="['/auth', 'forgot-password']">Forgot Password?</a>
                </div>

                <div class="register-account-link">
                  <p class="paragraph">Don't have an account yet?<a [routerLink]="['/auth', 'register']" (click)="createDummyKey()">Sign up</a></p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
                                      <!--        End of Login/Register Modal            -->
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <div class="emptyWishlist">
    <h1>Your cart is empty!</h1>
    <h3>Explore more and add some items</h3>
    <button routerLink="/" class="startShopping">START SHOPPING</button>
  </div>
</ng-template>
