<div class="header uses-flex">
  <div class="header-top uses-flex between-space">
    <a href="home.html">
      <div class="image-container" [routerLink]="['/']">
        <img src="assets/img/ucx-logo-desktop.png" alt="logo" class="header-logo is-hidden-mobile">
        <img src="assets/img/ucx-logo-mobile.png" alt="logo" class="header-logo is-hidden-desktop">
      </div>
    </a>

    <div class="columns right-buttons is-hidden-tablet-only">
      <div class="column is-6 dropdown dropdown-cart is-right is-large" (click)="toggleClass()" [ngClass]="status ? 'is-active' : ''">
        <div class="dropdown-trigger">
          <button class="button cart-button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span><i class="fab fa-opencart"></i></span>
            <span class="is-medium cart-nr">{{cartQty}}</span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-2" role="menu" >
          <div class="dropdown-content">
            <div class="columns is-mobile dropdown-item dropdown-cart-item" *ngFor="let item of this.cartService.getProductsFromCart()">
              <div class="column item-picture is-6">
                <figure class="image is-64x64">
                  <img class="is-rounded" [src]="item.product.image">
                </figure>
              </div>
              <div class="column is-6 item-desc">
                <a href="#"><h6><strong>{{item.product.title}}</strong></h6></a>
                <h6>{{item.product.platform}}</h6>
                <h6>{{item.product.price}}$</h6>
              </div>
                    <!--        Next sprint      -->
<!--              <div class="column is-4 has-text-right">-->
<!--                <a  (click)="cartService.deleteFromCart(item.id)"><i class="fas fa-times"></i></a>-->
<!--              </div>-->
          </div>
            <hr class="dropdown-divider">
            <div class="dropdown-item proceed-checkout">
              <a routerLink="/cart" class="button is-dark is-fullwidth">Proceed to checkout</a>
            </div>
          </div>
        </div>
    </div>
      <div class="column is-6 dropdown is-hidden-mobile dropdown-profile is-right is-large" (click)="toggleClass2()" [ngClass]="status2 ? 'is-active' : ''" >
        <div class="dropdown-trigger">
          <button class="button user-button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span><i class="fas fa-user-alt "></i></span>
            <span class="icon is-medium">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <div *ngIf="!this.isLoggedIn()" >
            <a routerLink="/auth/register" class="dropdown-item sign-up-button">Sign Up</a>
            <a routerLink="/auth/login" class="dropdown-item sign-up-button">Login</a>
            </div>
            <div *ngIf="this.isLoggedIn()" >
            <a href="#" class="dropdown-item sign-up-button" (click)="this.userService.logout()">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
                                  <!-- End of header right buttons   -->
    <div class="hamburger-menu-container is-hidden-tablet">
      <button>
        <i class="fa"></i>
      </button>
    </div>
  </div>
  <div class="header-bottom uses-flex">
    <nav class="navbar navbar-container" role="navigation" aria-label="main navigation">
      <a href="index.html" class="navbar-item">Home</a>
      <a routerLink="/wish-list" class="navbar-item">WishList</a>
      <a href="" class="navbar-item">News</a>
      <app-publisher-dropdown></app-publisher-dropdown>
      <div class="navbar-item has-dropdown is-hoverable">

        <a class="navbar-link" style="background: none">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
      <a href="" class="navbar-item is-hidden-tablet">Sign up</a>
      <a href="" class="navbar-item is-hidden-tablet">Log in</a>
    </nav>
  </div>
</div>
