<div  [ngClass]="status3 ? 'active' : ''" class="header uses-flex" id="leshimaris">
  <div class="header-top uses-flex between-space">
    <a>
      <div class="image-container">
        <img (click)="pageR()" [routerLink]="['/']" alt="logo" class="header-logo is-hidden-mobile"
             src="assets/img/ucx-logo-desktop.png">
        <img (click)="pageR()" [routerLink]="['/']" alt="logo" class="header-logo is-hidden-desktop"
             src="assets/img/ucx-logo-mobile.png">
      </div>
    </a>

    <div class="columns right-buttons is-hidden-tablet-only">
      <div class="column is-4-desktop is-6-mobile dropdown dropdown-cart is-right is-large" (click)="toggleClass()"
           [ngClass]="opened ? 'is-active' : ''">
        <div class="dropdown-trigger">
          <button aria-controls="dropdown-menu" aria-haspopup="true" class="button cart-button">
            <span><i class="fab fa-opencart open-cart-icon"></i></span>
            <span *ngIf="cartQty != null" class="is-medium cart-nr">{{cartQty}}</span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-2" role="menu">
          <div class="dropdown-content">
            <div *ngFor="let item of getProductsFromCart()"
                 class="columns is-mobile dropdown-item dropdown-cart-item">
              <div class="column item-picture is-4">
                <figure class="image is-64x64">
                  <img *ngIf="item.product.fileName != null" [src]="photoUrl + item.product.fileName"
                       class="is-rounded">
                </figure>
              </div>
              <div class="column is-4 item-desc">
                <h6 *ngIf="item.product.name != null"><h6><strong>{{item.product.name}}</strong></h6></h6>
                <h6 *ngIf="item.product.platform != null">{{item.product.platform.name}}</h6>
                <h6 *ngIf=" item.product.unitPrice != null">{{item.product.unitPrice}}$</h6>
              </div>
              <div class="column is-4 has-text-right">
                <a (click)="cartService.deleteFromCart(item.id)"><i class="fas fa-times"></i></a>
              </div>
            </div>
            <hr class="dropdown-divider">
            <div class="dropdown-item proceed-checkout">
              <a class="button is-dark is-fullwidth" routerLink="/cart">Proceed to checkout</a>
            </div>
          </div>
        </div>
      </div>
      <div (click)="toggleClass2()" [ngClass]="status2 ? 'is-active' : ''"
           class="column is-8-desktop is-6-mobile dropdown is-hidden-mobile dropdown-profile is-right is-large">
        <div class="dropdown-trigger">
          <button aria-controls="dropdown-menu" aria-haspopup="true" class="button user-button">
            <span><i *ngIf="!this.isLoggedIn()" class="fas fa-user-alt "></i></span>
            <span><a *ngIf="this.isLoggedIn() && customerName != null" class="customer-name"
                     href="#">{{customerName}}</a></span>
            <span class="icon is-medium">
              <i aria-hidden="true" class="fas fa-angle-down"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <div *ngIf="!this.isLoggedIn()">
              <a class="dropdown-item sign-up-button" routerLink="/auth/register">Sign Up</a>
              <a class="dropdown-item sign-up-button" routerLink="/auth/login">Login</a>
            </div>
            <div *ngIf="this.isLoggedIn()">
              <a *ngIf="this.customerName != null" [routerLink]="'/account/edit-profile'"
                 class="dropdown-item is-dark is-active"
                 href="#">Account</a>
            </div>
            <div>
              <a [routerLink]="'/wish-list'" class="dropdown-item" >Wishlist</a>
            </div>
            <div *ngIf="this.isLoggedIn()">
              <a (click)="this.userService.logout()" class="dropdown-item sign-up-button">Log Out</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- End of header right buttons   -->
    <div class="hamburger-menu-container is-hidden-tablet" >
      <button (click)="onHamburgerclick()">
        <i class="fa hamburger-menu"></i>
      </button>
    </div>
  </div>
  <div class="header-bottom uses-flex">
    <nav aria-label="main navigation" class="navbar navbar-container" role="navigation">
      <a (click)="pageR()" class="navbar-item is-hidden-mobile" routerLink="/">Home</a>
      <div class="is-hidden-desktop customer-options">
        <div *ngIf="this.isLoggedIn()">
          <a *ngIf="this.customerName != null" [routerLink]="'/account/edit-profile'"
             class="dropdown-item is-dark is-active customer-name"><i class="far fa-user"></i>{{this.customerName}}</a>
        </div>
        <div>
          <a (click)="pageR()" class="navbar-item is-hidden-desktop" routerLink="/"><i class="fas fa-home"></i>Home</a>
          <a [routerLink]="'/wish-list'" class="dropdown-item wishlist"><i class="far fa-heart"></i>Wishlist</a>
          <a (click)="pageR()" class="navbar-item is-hidden-desktop" routerLink="/games"><i class="fas fa-gamepad"></i>Games</a>
          <a class="navbar-item is-hidden-desktop" routerLink="/contact-us"> <i class="fas fa-envelope-square"></i>Contact
            Us</a>
        </div>
        <div *ngIf="this.isLoggedIn()">
          <a (click)="this.userService.logout()" class="dropdown-item sign-up-button"><i
            class="fas fa-sign-out-alt"></i>Log Out</a>
        </div>
        <a class="navbar-item is-hidden-mobile" routerLink="/wish-list">Wishlist</a>
        <a (click)="pageR()" class="navbar-item is-hidden-mobile" routerLink="/games">Games</a>
        <a class="navbar-item is-hidden-mobile" routerLink="/contact-us">Contact Us</a>
        <div *ngIf="!this.isLoggedIn()">
          <a class="dropdown-item sign-up-button is-hidden-desktop" routerLink="/auth/register"><i class="fas fa-user-plus"></i>Sign Up</a>
          <a class="dropdown-item sign-up-button is-hidden-desktop" routerLink="/auth/login"><i class="fas fa-sign-in-alt"></i>Login</a>
        </div>
      </div>
      <a class="navbar-item is-hidden-mobile" routerLink="/wish-list">Wishlist</a>
      <a (click)="pageR()" class="navbar-item is-hidden-mobile" routerLink="/games">Games</a>
      <a class="navbar-item is-hidden-mobile" routerLink="/contact-us">Contact Us</a>
    </nav>
  </div>
</div>
