<app-header></app-header>
<div class="columns parenti">
  <div class="column is-3">
    <h1>OUR MOST POPULAR GAMES</h1>
  </div>
  <div class="column">
    <div class="cards">
      <div class="card">
      </div>
      <div class="card">
      </div>
      <div class="card">
      </div>
      <div class="card">
      </div>
    </div>
  </div>
<!--  <div class="column most-sold-wrapper" style="background-image: url('./assets/img/buttlefield.jpg');">-->
<!--    <div class="most-sold-container" >-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="most-sold-information">&ndash;&gt;-->
<!--&lt;!&ndash;      <h1>Battlefield 4</h1>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2>Intense multiplayer action</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->

<!--  <div class="column most-sold-wrapper" style="background-image: url('./assets/img/buttlefield.jpg');">-->
<!--    <div class="most-sold-container" >-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="most-sold-information">&ndash;&gt;-->
<!--&lt;!&ndash;      <h1>Battlefield 4</h1>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2>Intense multiplayer action</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->

<!--  <div class="column most-sold-wrapper" style="background-image: url('./assets/img/buttlefield.jpg');">-->
<!--    <div class="most-sold-container" >-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="most-sold-information">&ndash;&gt;-->
<!--&lt;!&ndash;      <h1>Battlefield 4</h1>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2>Intense multiplayer action</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->

<!--  <div class="column most-sold-wrapper" style="background-image: url('./assets/img/buttlefield.jpg');">-->
<!--    <div class="most-sold-container" >-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="most-sold-information">&ndash;&gt;-->
<!--&lt;!&ndash;      <h1>Battlefield 4</h1>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2>Intense multiplayer action</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->


</div>

<!--======================Slider===========================-->
<div class="slider">
  <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
  <input type="radio" name="slider" title="slide2" class="slider__nav"/>
  <input type="radio" name="slider" title="slide3" class="slider__nav"/>
  <div class="slider__inner">
    <div class="slider__contents"><i class="slider__image fas fa-gamepad"></i>
      <h2 class="slider__caption">Over 30 different games</h2>
      <p class="slider__txt">Choose from a variety of different games, genres and brands!</p>
    </div>
    <div class="slider__contents"><i class="slider__image far fa-handshake"></i>
      <h2 class="slider__caption">Partners</h2>
      <nav class="partner-container">

        <carousel-component class="columns" autoPlay="true" delayAutoPlay="1000" onReachEnd="1" [angle]=30 >
          <div class="column item-carousel partner">Rockstar Games</div>
          <div class="column item-carousel partner">Activision</div>
          <div class="column item-carousel partner">EA</div>
          <div class="column item-carousel partner">Naughty Dog</div>
          <div class="column item-carousel partner">Blizzard</div>
          <div class="column item-carousel partner">Bethesda</div>
          <div class="column item-carousel partner">Ubisoft</div>
          <div class="column item-carousel partner">Valve</div>
        </carousel-component>

<!--        <carousel-component >-->
<!--          <div class="item-carousel">a</div>-->
<!--          <div class="item-carousel">-->
<!--            <div class="b">-->
<!--              <img src="https://www.losminionsaldia.com/images/mas-minions/minion.png" />-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="item-carousel">c</div>-->
<!--          <div class="item-carousel">d</div>-->
<!--        </carousel-component>-->

      </nav>
    </div>
    <div class="slider__contents"><i class="slider__image fas fa-map-marker-alt"></i>
      <h2 class="slider__caption">About Us</h2>
      <p class="slider__txt">We are located at Bajram Kelmendi Street in Pristina, Kosovo!</p>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
      <h2 class="slider__caption">diamond</h2>
      <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
    </div>
  </div>
</div>

<!--<div class="most-sold-wrapper">-->
<!--  <div class="most-sold-container" style="background-image: url('./assets/img/buttlefront.jpg');">-->
<!--  </div>-->
<!--  <div class="most-sold-information">-->
<!--    <h1>Star Wars Battlefront 2</h1>-->
<!--    <h2>Define your own battles in a galaxy far far away</h2>-->
<!--  </div>-->
<!--</div>-->

<app-footer></app-footer>
