<app-header></app-header>

<div class="parenti">


    <div class="cards columns" style="width: 80%;margin: 0 auto">
      <div class="card column is-3" *ngFor="let item of top4">
        <img [src]="imgPath + item.image" style="object-fit: cover">
      </div>
    </div>

<!--<div class="columns top-4-containero is-multiline is-mobile is-tablet is-desktop">-->
<!--  <div class="column top-4-itemo is-desktop is-tablet is-12-mobile is-3-desktop">-->
<!--    <div class="testo" >-->
<!--      <img [src]="imgPath + top4[0].image">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="column top-4-itemo is-desktop is-tablet is-12-mobile is-3-desktop">-->
<!--    <div class="testo" >-->
<!--      <img [src]="imgPath + top4[1].image">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="column top-4-itemo is-desktop is-tablet is-12-mobile is-3-desktop">-->
<!--    <div class="testo" >-->
<!--      <img [src]="imgPath + top4[2].image">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="column top-4-itemo is-desktop is-tablet is-12-mobile is-3-desktop">-->
<!--    <div class="testo" >-->
<!--      <img [src]="imgPath + top4[3].image">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--  <div class="column most-sold-wrapper" style="background-image: url('./assets/img/buttlefield.jpg');">-->
<!--    <div class="most-sold-container" >-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="most-sold-information">&ndash;&gt;-->
<!--&lt;!&ndash;      <h1>Battlefield 4</h1>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2>Intense multiplayer action</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->

<!--  <div class="column most-sold-wrapper" style="background-image: url('./assets/img/buttlefield.jpg');">-->
<!--    <div class="most-sold-container" >-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="most-sold-information">&ndash;&gt;-->
<!--&lt;!&ndash;      <h1>Battlefield 4</h1>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2>Intense multiplayer action</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->

<!--  <div class="column most-sold-wrapper" style="background-image: url('./assets/img/buttlefield.jpg');">-->
<!--    <div class="most-sold-container" >-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="most-sold-information">&ndash;&gt;-->
<!--&lt;!&ndash;      <h1>Battlefield 4</h1>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2>Intense multiplayer action</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->

<!--  <div class="column most-sold-wrapper" style="background-image: url('./assets/img/buttlefield.jpg');">-->
<!--    <div class="most-sold-container" >-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="most-sold-information">&ndash;&gt;-->
<!--&lt;!&ndash;      <h1>Battlefield 4</h1>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2>Intense multiplayer action</h2>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
  </div>

<!--======================Slider===========================-->
<div class="slider">
  <input checked="checked" class="slider__nav" name="slider" title="slide1" type="radio"/>
  <input class="slider__nav" name="slider" title="slide2" type="radio"/>
  <input class="slider__nav" name="slider" title="slide3" type="radio"/>
  <div class="slider__inner">
    <div class="slider__contents"><i class="slider__image fas fa-gamepad"></i>
      <h2 class="slider__caption">Over 30 different games</h2>
      <p class="slider__txt">Choose from a variety of different games, genres and brands!</p>
    </div>
    <div class="slider__contents"><i class="slider__image far fa-handshake"></i>
      <h2 class="slider__caption">Partners</h2>
      <nav class="partner-container">

          <carousel-component [angle]=10  ratioScale="100" class="columns"
                            dots="true">
          <div class="column item-carousel partner" style="background-image: url('./assets/img/activision-logo.png');background-size: 100%;background-position: center;background-repeat: no-repeat"></div>
          <div class="column item-carousel partner" style="background-image: url('./assets/img/2k-logo.png');background-size: 100%;background-position: center;background-repeat: no-repeat"></div>
          <div class="column item-carousel partner" style="background-image: url('./assets/img/ea-logo.png');background-size: 100%;background-position: center;background-repeat: no-repeat"></div>
          <div class="column item-carousel partner" style="background-image: url('./assets/img/insomniac-logo.png');background-size: 100%;background-position: center;background-repeat: no-repeat"></div>
          <div class="column item-carousel partner" style="background-image: url('./assets/img/netherralm-studios-logo.png');background-size: 100%;background-position: center;background-repeat: no-repeat"></div>
          <div class="column item-carousel partner" style="background-image: url('./assets/img/rockstar-logo.png');background-size: 100%;background-position: center;background-repeat: no-repeat"></div>
          <div class="column item-carousel partner" style="background-image: url('./assets/img/square-enix-logo.png');background-size: 100%;background-position: center;background-repeat: no-repeat"></div>
          <div class="column item-carousel partner" style="background-image: url('./assets/img/ubisoft-logo.png');background-size: 100%;background-position: center;background-repeat: no-repeat"></div>
        </carousel-component>

      </nav>
    </div>
    <div class="slider__contents"><i class="slider__image fas fa-map-marker-alt"></i>
      <h2 class="slider__caption">About Us</h2>
      <p class="slider__txt">We are located at Bajram Kelmendi Street in Pristina, Kosovo!</p>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
      <h2 class="slider__caption">diamond</h2>
      <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo
        quos, corporis minima!</p>
    </div>
  </div>
</div>

<!--<div class="most-sold-wrapper">-->
<!--  <div class="most-sold-container" style="background-image: url('./assets/img/buttlefront.jpg');">-->
<!--  </div>-->
<!--  <div class="most-sold-information">-->
<!--    <h1>Star Wars Battlefront 2</h1>-->
<!--    <h2>Define your own battles in a galaxy far far away</h2>-->
<!--  </div>-->
<!--</div>-->

<app-footer></app-footer>
