<div class="profile-information-panel">

  <div class="column main-content" *ngIf="customer">
    <p class="title is-2 static-titles">Profile Information</p>
    <hr>

    <!-- Personal Information starts here -->
    <p class="title is-4 static-titles">Account information</p>

    <fieldset disabled>
      <div class="columns">
        <div class="column">
          <label class="label">Email</label>
          <input type="email" class="input" value="fati.marmullaku@gmail.com">
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <label class="label">Password</label>
          <input type="password" class="input" value="fati.marmullaku@gmail.com">
        </div>
      </div>
    </fieldset>

    <div class="columns">
      <div class="column change-account-settings">
        <a [routerLink]="['../change-email']">
          <button class="button is-danger">Change account settings</button>
        </a>
      </div>
    </div>

    <hr>

    <!-- Personal Information starts here -->
    <p class="title is-4 static-titles">Personal information</p>

<!--    <form>-->
    <form [formGroup]="informationForm" class="form" (submit)="onSubmit($event)">
      <div class="columns">
        <div class="column">
          <label class="label">First Name</label>
          <input type="text" class="input" value="{{customer.firstName}}">
        </div>

        <div class="column">
          <label class="label">Last Name</label>
          <input type="text" class="input" value="{{customer.lastName}}">
        </div>

      </div>

      <div class="columns">
        <div class="column">


<!--          <form [formGroup]="informationForm" class="form" (submit)="onSubmit($event)">-->
            <h3 class="title is-5 static-titles">Phone Numbers</h3>
            <div id="box-phone">
              <div formArrayName="phoneNumbers" *ngFor="let phoneNumberi of informationForm.get('phoneNumbers')['controls']; let i = index;">
                <div class="columns" [formGroupName]="i">
                  <div class="column is-5">
                    <label>Mobile</label><br>
                    <input formControlName="mobile" type="text" class="input" placeholder="xxx xxx xxx" value="{{i}}.{{phoneNumberi.mobile}}">
                  </div>
                  <div class="column is-5">
                    <label>Home</label><br>
                    <input formControlName="home" type="text" class="input" placeholder="xxx xxx xxx">
                  </div>
                  <div class="column is-2 delete-phone-number" *ngIf="i != 0">
                    <label></label><br>
                    <button class="button is-danger" (click)="onPhoneDelete($event, i)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            <button id="addphone" class="button add-field-button" (click)="onAddPhoneNumber($event)">Add phone number</button>
            <br>
            <h3 class="title is-5 static-titles">Addresses</h3>
            <div id="box-address">
              <div formArrayName="addresses" *ngFor="let _ of informationForm.get('addresses')['controls']; let i = index;">
                <div class="columns" [formGroupName]="i">
                  <div class="column is-2">
                    <label class="label">Country</label>
                    <input type="text" class="input" formControlName="country">
                  </div>

                  <div class="column is-2">
                    <label class="label">City</label>
                    <input type="text" class="input" formControlName="city">
                  </div>

                  <div class="column is-2">
                    <label class="label">Zip code</label>
                    <input type="text" class="input" formControlName="zipCode">
                  </div>

                  <div class="column is-4">
                    <label class="label">Street</label>
                    <input type="text" class="input" formControlName="street">
                  </div>
                  <div class="column is-2 delete-phone-number" *ngIf="i != 0">
                    <label class="label"></label><br>
                    <button class="button is-danger" (click)="onAddressDelete($event, i)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            <button id="addaddress" class="button add-field-button" (click)="onAddAddress($event)">Add address</button>

<!--          </form>-->


        </div>
      </div>

      <hr>

      <div class="field is-grouped is-grouped-right">
        <button class="button is-primary save-button">Save</button>
        <button class="button">Cancel</button>
      </div>
<!--    </form>-->
    </form>
  </div>

</div>
