<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="modal-card-title">
                <span class="icon">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
        Delete confirmation
      </div>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      Are you sure you want to delete this // whatever record // ? </br>This process cannot be undone!
    </section>
    <footer class="modal-card-foot">
      <a class="button is-danger is-outlined is-rounded">
        <span>Delete</span>
        <span class="icon is-small">
                    <i class="fas fa-times"></i>
                </span>
      </a>
      <button class="button is-outlined is-rounded">Cancel</button>
    </footer>
  </div>
</div>
