<div class="product-view">
  <div class="review-panel">

    <div class="main-rating">
      <h3>PRODUCT RATING</h3>
      <div class="stars">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half"></i>
      </div>
      <span>Rated <small>4,5/5</small> out of <small>29</small> reviews</span>
      <span class="add-review"><i class="fa fa-plus"></i>Add review</span>
    </div>

    <div *ngIf="reviews">
      <div class="customer-rating" *ngFor="let review of reviews">
        <div class="content">
          <div class="customer-rating-header">
            <span class="customer-name">{{ review.name }}</span>
            <small>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </small>
          </div>
          <p class="rating-content">
            {{ review.description }}
          </p>
        </div>

      </div>

    </div>

  </div>
</div>
