<app-header></app-header>
<div class="box main-box" >
  <div class="box inner-box">
    <div class="columns column-container">
      <div class="column is-2 is-12-mobile is-multiline wishlist-image-container">
<!--        <img [src]="" class="wish-list-featured-image" height="216px" width="161px">-->
      </div>
      <div class="column is-8 is-12-mobile is-multiline wishlist-item-information">
        <div class="game-information">
<!--          <h1 class="title is-3">{{ item.title }}</h1>-->
          <p>Platforms: Xbox One, Play Station 4, PC</p>
        </div>
        <br>
        <div class="wishlist-button-container">
<!--          <h1>Price: {{ item.price }}</h1>-->
          <button class="wishlist-button">Add to cart</button>
          <button class="wishlist-button">Buy now</button>
          <br>
          <button class="wishlist-button is-hidden-desktop" >Remove</button>
        </div>
      </div>
      <div id="icon-container" class="column is-2 is-hidden-mobile has-text-right-desktop">
        <button class="remove-button is-hidden-mobile"><i class="fas fa-times"></i></button>
      </div>
    </div>
  </div>
</div>


