<app-header></app-header>
<div class="box main-box" *ngIf="wishlistProducts && wishlistProducts.length > 0; else emptyWishlist ">
  <div class="box inner-box" *ngFor="let item of wishlistService.getProductsFromWishlist(); let i = index;">
    <div class="columns column-container" >
      <div class="column is-2 is-12-mobile is-multiline wishlist-image-container">
        <img [src]="item.product.fileName.startsWith('/asset')? item.product.fileName : productUrl + item.product.fileName" class="wish-list-featured-image" height="135px" width="116px">
      </div>
      <div class="column is-8 is-12-mobile is-multiline wishlist-item-information">
        <div class="game-information">
          <h1 class="title is-3">{{item.product.name}}</h1>
        </div>
        <br>
        <div class="wishlist-button-container">
          <h1 class="wl-price">Price: ${{item.product.unitPrice}}</h1>
          <button class="wishlist-button" (click)="addToCart(item.product,$event)">Add to cart</button>
          <br>
          <button class="wishlist-button is-hidden-desktop" >Remove</button>
        </div>
      </div>
      <div id="icon-container" class="column is-2 is-hidden-mobile has-text-right-desktop">
        <button class="remove-button is-hidden-mobile" (click)="deleteFromWishlist(item)"><i class="fas fa-times"></i></button>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyWishlist>
  <div class="emptyWishlist">
    <h1>Your wishlist is empty!</h1>
    <h3>Explore more and add some items</h3>
    <button routerLink="/" class="startShopping">START SHOPPING</button>
  </div>
</ng-template>

