<!-- PAGINATION -->
<div class="block pg">
  <div class="pagination">
    <ng-template [ngIf]="lastPageIndex>=3" [ngIfElse]="lowerThanFourPages">
      <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous pagination-default log-out-button" (click)="changePage(currentPage - 1)" >Previous</a>
        <a class="pagination-next pagination-default log-out-button" (click)="changePage(currentPage + 1)">Next page</a>
        <ul class="pagination-list">
          <li>
            <a class="pagination-link pagination-default" aria-label="Goto page 1" (click)="changePage(1)" [class.selected]="currentPage==1" >1</a>
          </li>
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a class="pagination-link pagination-default" (click)="changePage(left)" [class.selected]="currentPage==left">{{left}}</a>
          </li>
          <li>
            <a class="pagination-link pagination-default" (click)="changePage(mid)" [class.selected]="currentPage==mid">{{mid}}</a>
          </li>
          <li>
            <a class="pagination-link pagination-default" (click)="changePage(right)" [class.selected]="currentPage==right"> {{right}}</a>
          </li>
          <li>
            <span class="pagination-ellipsis" [class.hidden]="">&hellip;</span>
          </li>
          <li>
            <a class="pagination-link pagination-default" aria-label="Goto page " (click)="changePage(lastPageIndex)"  [class.selected]="currentPage==lastPageIndex">{{lastPageIndex}}</a>
          </li>
        </ul>
      </nav>
    </ng-template>


    <ng-template #lowerThanFourPages
    >


      <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous pagination-default log-out-button" title="This is the first page" (click)="changePage(currentPage - 1)">Previous</a>
        <a class="pagination-next pagination-default log-out-button" (click)="changePage(currentPage + 1)">Next page</a>
        <ul class="pagination-list">
          <li  *ngFor="let dummy of ' '.repeat(lastPageIndex).split(''), let x = index" class="pagination-link pagination-default"
              routerLink="/../../../app"
              aria-label="Page 1" aria-current="page" (click)="changePage(x+1)" [class.selected]="currentPage==x+1" >
            <a >{{x+1}}</a>
          </li>
        </ul>
      </nav>

    </ng-template>

  </div>
</div>

<!--routerLink="serverLink/paged?size={{pageSize}}&page={{x}}"-->
