.inactive {
  pointer: disabled;
}

.selected {
  background: #ec7f37;
  color: white !important;
}

.hidden {
visibility: hidden;
}

.pagination-coloring {
  border-color:#ec7f37;
  color: #ec7f37 ;
}


