<!-- PAGINATION -->
<div class="block pg" *ngIf="totalPages>=1">
  <div class="pagination">
    <ng-template [ngIfElse]="lowerThanFourPages" [ngIf]="totalPages>=3">
      <nav aria-label="pagination" class="pagination" role="navigation">
        <a (click)="changePage(currentPage - 1)"
           class="pagination-previous pagination-default log-out-button">Previous</a>
        <a (click)="changePage(currentPage + 1)" class="pagination-next pagination-default log-out-button">Next page</a>
        <ul class="pagination-list">
          <li>
            <a
              (click)="changePage(1)" [class.selected]="currentPage==1" aria-label="Goto page 1"
               class="pagination-link pagination-default">1</a>

          </li>
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a (click)="changePage(left)" [class.selected]="currentPage==left"
               class="pagination-link pagination-default">{{left}}</a>
          </li>
          <li>
            <a (click)="changePage(mid)" [class.selected]="currentPage==mid"
               class="pagination-link pagination-default">{{mid}}</a>
          </li>
          <li>
            <a (click)="changePage(right)" [class.selected]="currentPage==right"
               class="pagination-link pagination-default"> {{right}}</a>
          </li>
          <li>
            <span [class.hidden]="" class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a (click)="changePage(totalPages)" [class.selected]="currentPage==totalPages" aria-label="Goto page "
               class="pagination-link pagination-default">{{totalPages}}</a>
          </li>
        </ul>
      </nav>
    </ng-template>


    <ng-template #lowerThanFourPages>


      <nav aria-label="pagination" class="pagination" role="navigation">
        <a (click)="changePage(currentPage - 1)" class="pagination-previous pagination-default log-out-button"
           title="This is the first page">Previous</a>
        <a (click)="changePage(currentPage + 1)" class="pagination-next pagination-default log-out-button">Next page</a>
        <ul class="pagination-list">
          <li (click)="changePage(x+1)"
              *ngFor="let dummy of ' '.repeat(totalPages).split(''), let x = index"
              [class.selected]="currentPage==x+1"
              aria-current="page" aria-label="Page 1" class="pagination-link pagination-default" >
            <a>{{x + 1}}</a>
          </li>
        </ul>
      </nav>

    </ng-template>

  </div>
</div>

