.flex-container {
  display: flex;
}
.fill-space{
  flex: 1;
}

:host {
  .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background: #d6d8d9;
  }
}

.meph-custom-padding {
  padding-left: 0px;
}
