<div class="container">
  <div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Products</h3>
    <div class="card-body">
      <div class="table-editable" id="table">
        <input type="text" class="form-control searchBrand" placeholder="search product" name="search" [(ngModel)]="filter">
            <span class="table-add float-right mb-3 mr-2">
                <a>
                <i (click)="openInsert()" class="fas fa-plus"></i>
                </a>
            </span>
        <table class="table table-bordered table-responsive-md table-striped text-center" id="contentToConvert">
          <tr>
            <th>Name</th>
            <th>Photo</th>
            <th>Platform</th>
            <th>Brand </th>
            <th>Unit Price</th>
            <th>Record Status</th>
            <th>Create Time</th>
            <th>Update Time</th>
            <th>Delete Time</th>
            <th>Description</th>
            <th>Version</th>
            <th></th>
          </tr>
          <tr *ngFor="let p of productsList | pipeFilteer:filter">
            <td>{{p?.name}}</td>
            <td ><img src="{{photoUrl + p?.fileUpload?.fileName}}" class=" img-thumbnail product-image-sizing"></td>
            <td> {{p?.platform?.name}} </td>
            <td> {{p?.brand?.name}} </td>
            <td> {{p.unitPrice}}</td>
            <td>{{p.recordStatus}}</td>
            <td>{{p.createDateTime | date:'dd-MM-yyyy'}}</td>
            <td>{{p.updateDateTime | date:'dd-MM-yyyy'}}</td>
            <td>{{p.deletedDateTime | date:'dd-MM-yyyy'}}</td>
            <td>{{p.description}}</td>
            <td>{{p.version}}</td>
            <td>
              <a>

                <i
                  (click)="openUpdate(
                p.id,
                p.name,
                p.unitPrice,
                p.description,
                p?.brand,
                p?.platform
                ) "
                  class="far fa-edit"></i>
              </a>
              <i (click)="openDelete(p.id)" class="fa fa-trash" aria-hidden="true"></i>
            </td>
          </tr>
        </table>
        <button type="button" class="btn btn-outline-secondary btnPDF" (click)="captureScreen()">PDF</button>
      </div>
    </div>
  </div>

  <div [ngClass]="{ 'is-active' : deleteModal }" class="modal">
    <div (click)="toggleModal()" class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Delete Product</p>
        <button (click)="toggleModal()" aria-label="close" class="delete"></button>
      </header>
      <section class="modal-card-body">
        <p><strong>Are you sure you want to delete this Product ?</strong></p>
        <p>All information associated to this product will be permanently deleted.
          <br>
          <span class="has-text-danger">This operation can not be undone!</span>
      </section>
      <footer class="modal-card-foot">
        <button (click)="onDelete()" class="button is-danger">Delete</button>
        <button (click)="toggleModal()" class="button">Cancel</button>
      </footer>
    </div>
  </div>





  <div [ngClass]="{ 'is-active' : insertModal }" class="modal">
    <div (click)="closeInsertModal()" class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Insert Product</p>
        <button (click)="closeInsertModal()" aria-label="close" class="delete"></button>
      </header>
      <section class="modal-card-body">
        <form (ngSubmit)="onAddProduct()" [formGroup]="productsForm">
          <div class="columns">
            <div class="column">
              <label for="name">Name:</label>
              <input class="form-control"
                     id="name"
                     placeholder="Name"
                     formControlName="name"
                     type="text">
            </div>
            <div class="column" formGroupName="platform">
              <label for="platform">Platform:</label>
              <div>
                <select formControlName="id" id="platform">
<!--                  <option *ngFor="let p of platformList" [ngValue]="p.id">-->
<!--                    {{p.name}}-->
<!--                  </option>-->
                  <option [ngValue]="1">PC (default)</option>
                </select>
              </div>
              <div *ngIf="!isNotPlatform" class="requiredError">
                <sup>*</sup>Choose a Platform
              </div>
            </div>
            <div class="column" formGroupName="brand">
              <label for="brand">Brand:</label>
              <div>
                <select formControlName="id" id="brand">
                  <option *ngFor="let b of brandsList" [ngValue]="b.id">
                    {{b.name}}
                  </option>
                </select>
              </div>
              <div *ngIf="!isNotBrand" class="requiredError">
                <sup>*</sup>Choose a brand
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <label for="unitPrice">Unit Price:</label>
              <input class="form-control"
                     id="unitPrice"
                     placeholder="Unit Price"
                     formControlName="unitPrice"
                     type="text">
            </div>
          </div>
          <div class="control">
            <label for="description">Description:</label>
            <textarea formControlName="description" class="textarea" id="description"
                      placeholder="Add your description here! ">
            </textarea>
          </div>
          <div class="image-upload">
            <label for="file-input">
              <i class="fas fa-upload"></i>
            </label>
            <input id="file-input" type="file" (change)="onFileSelected($event)"/>
          </div>
        </form>
      </section>
      <footer class="modal-card-foot">
        <button (click)="closeInsertModal()" class="button">Cancel</button>
        <button  (click)="onAddProduct()" class="button is-danger">Add Product</button>
      </footer>
    </div>
  </div>
</div>



<div [ngClass]="{ 'is-active' : updateModal }" class="modal">
  <div (click)="closeUpdateModal()" class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Update Product</p>
      <button (click)="closeUpdateModal()" aria-label="close" class="delete"></button>
    </header>
    <section class="modal-card-body">
      <form (ngSubmit)="onAddProduct()" [formGroup]="updateForm">
        <div class="columns">
          <div class="column">
            <label for="uName">Name:</label>
            <input class="form-control"
                   id="uName"
                   placeholder="Name"
                   formControlName="name"
                   type="text">
          </div>
          <div class="column" formGroupName="platform">
            <label for="platform">Platform:</label>
            <div>
              <select formControlName="id" id="uPlatform">
<!--                <option *ngFor="let p of platformList" [ngValue]="p.id">-->
<!--                  {{p.name}}-->
<!--                </option>-->
                <option [ngValue]="1">PC (default)</option>
              </select>
            </div>
          </div>
          <div class="column" formGroupName="brand">
            <label for="brand">Brand:</label>
            <div>
              <select formControlName="id" id="uBrand">
                <option *ngFor="let b of brandsList" [ngValue]="b.id">
                  {{b.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label for="uUnitPrice">Unit Price:</label>
            <input class="form-control"
                   id="uUnitPrice"
                   placeholder="Unit Price"
                   formControlName="unitPrice"
                   type="text">
          </div>
        </div>
        <div class="control">
            <label for="uDescription">Description:</label>
            <textarea formControlName="description" class="textarea" id="uDescription"
                      placeholder="Add your description here! ">
            </textarea>
        </div>
        <div class="image-upload">
          <label for="file-input2">
            <i class="fas fa-upload"></i>
          </label>
          <input id="file-input2" type="file" (change)="onFileSelected2($event)"/>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button (click)="closeUpdateModal()" class="button">Cancel</button>
      <button  (click)="onUpdate()" class="button is-danger">Update Product</button>
    </footer>
  </div>
</div>
