.card{
  background: transparent;

  .scrollable {
    position: relative;
    height: 200px;
    overflow: auto;
    display: block;
  }
  .card-body{
    .table{
      //border: #4b4747 solid 1px;
      background: transparent;
      .thead{
        background-color: #4b4747;
        th {
          padding: 10px 15px;
          color:white;
          font-size: 12px;
          text-transform: uppercase;
        }
        .add{
          background: #40be65;
        }
      }
      .tbody
      {
        td{
          border-color: #4b4747;
        }
      }
    }
  }
  .product-image-sizing {
    max-height:50px;
    width: auto;
    max-width:50px;
  }

}

.image-upload > input
{
  //display: none;
}

.image-upload img {
  width: 80px;
  cursor: pointer;
}

.requiredError{
  color:red;
}


footer {
  display: flex;
  justify-content: right;
}


.admin-button {
  background-color:#ec7f37;
}
