<div class="panel panel-default panel-order">


  <div class="panel-heading">
    <strong>Order history</strong>
  </div>


  <br>
  <br>
  <div class="panel-body columns is-multiline overflow-auto">
    <div class="row column columns is-10-desktop is-offset-1-desktop" *ngFor="let d of data">

      <div class="columns column is-1-desktop is-vcentered"><img src="assets/img/My-Cart/tick.png"
                                                                 class="media-object img-thumbnail"></div>
      <div class="column is-11">
        <div class="columns row">
          <div class="column is-12">
            <span><strong>Order Id: 122334</strong></span><br>
            <span class=""><strong>Customer ID: 321425</strong></span><br>
            <span class=""><strong>Total Amount: 324.00$</strong></span><br>
          </div>
          <div class="column is-12 alert-dark">
            order made on: {{currentDate | date:'yyyy-MM-dd'}} , {{ now | date:'HH:mm'}} by <a
            href="#"> {{ d.customer}} </a>
          </div>
        </div>
      </div>
      <mat-expansion-panel class="column is-offset-1">
        <mat-expansion-panel-header>
          Products purchased
        </mat-expansion-panel-header>

        <div nfor="asd" class="columns product_purchased">
          <div>Product 1 name</div>
          <div>Product 1 quantity</div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>

</div>



