<div class="panel panel-default panel-order">
  <div class="panel-heading">
    <strong>Order history</strong>
    <div class="btn-group pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
          Filter history <i class="fa fa-filter"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row"*ngFor="let d of data">
      <div class="col-md-1"><img src="assets/img/My-Cart/tick.png" class="media-object img-thumbnail"></div>
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-12">
            <span><strong>Order Id: 122334</strong></span><br>
            <span class=""><strong>Customer ID: 321425</strong></span><br>
            <span class=""><strong>Total Amount: 324.00$</strong></span><br>
          </div>
          <div class="col-md-12">
            order made on:{{currentDate | date:'yyyy-MM-dd'}}, {{ now | date:'HH:mm'}} by <a href="#">{{ d.customer}} </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

