<div class="profile-information-panel">

  <div class="column edit-profile-wrapper">

    <form [formGroup]="editProfileFormGroup" class="form" (ngSubmit)="onSubmit()" *ngIf="customer">
      <div class="title-wrapper">
        <p class="title is-2 static-titles">Profile Information</p>
        <a (click)="editProfile()"><i class="fas fa-user-edit"></i></a>
      </div>
      <hr>
      <div [ngClass]="readOnlyProfile ? 'edit-profile-display' : ''">
        <div class="columns">
          <div class="column">
            <label class="label">Email</label>
            <input formControlName="email" type="email" class="input form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label class="label">Full Name</label>
            <input formControlName="name" name="name" type="text" class="input form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div class="columns" *ngIf="(customer.phoneNumber && readOnlyProfile) || (!readOnlyProfile)">
              <div class="column is-12">
                <label>Phone Number</label><br>
                <input formControlName="phoneNumber" type="text" class="input form-control" [ngClass]="{ 'is-invalid': numbersOnlyValidator }" (keypress)="numbersOnly($event)">
                <div *ngIf="numbersOnlyValidator" class="invalid-feedback">
                  <div *ngIf="numbersOnlyValidator">Phone number must be a number</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>
        <h3 class="title is-5 static-titles" *ngIf="(customer.addresses[0] && readOnlyProfile) || (!readOnlyProfile)">Address</h3>
        <div>
          <div formArrayName="addresses" class="address-wrapper" *ngFor="let n of editProfileFormGroup.get('addresses')['controls']; let i = index;" >
            <div class="columns" [formGroupName]="0">
              <div class="column is-3">
                <label class="label">Country</label>
                <input type="text" class="input" formControlName="country">
              </div>

              <div class="column is-3">
                <label class="label">City</label>
                <input type="text" class="input" formControlName="city">
              </div>

              <div class="column is-2">
                <label class="label">Zip code</label>
                <input type="text" class="input" formControlName="zipCode">
              </div>

              <div class="column is-4">
                <label class="label">Street</label>
                <input type="text" class="input" formControlName="street">
              </div>
            </div>
          </div>

          <div class="display-address" *ngIf="(customer.addresses[0].country && customer.addresses[0].city && customer.addresses[0].street && customer.addresses[0].zipCode)">
            <p>{{customer.addresses[0].country +', '+ customer.addresses[0].city +', '+ customer.addresses[0].zipCode +', '+ customer.addresses[0].street}}</p>
          </div>
        </div>
        <hr>
        <div class="field is-grouped is-grouped-left">
        <button class="button is-primary save-button">Save changes</button>
        <button class="button" (click)="cancelEditing($event)">Cancel</button>
      </div>
      </div>
    </form>
  </div>

</div>
