<div class="profile-information-panel">

  <div class="column edit-profile-wrapper">

    <form [formGroup]="editProfileFormGroup" class="form" (ngSubmit)="onSubmit()">
      <p class="title is-2 static-titles">Profile Information</p>
      <hr>
      <div class="columns">
        <div class="column">
          <label class="label">Email</label>
          <input formControlName="email" type="email" class="input form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <label class="label">Full Name</label>
          <input formControlName="name" name="name" type="text" class="input form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div class="columns">
            <div class="column is-12">
              <label>Phone Number</label><br>
              <input formControlName="phoneNumber" type="text" class="input form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
              <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <h3 class="title is-5 static-titles">Address</h3>
      <div>
        <div formArrayName="addresses" *ngFor="let _ of editProfileFormGroup.get('addresses')['controls']; let i = index;" >
          <div class="columns" [formGroupName]="0">
            <div class="column is-3">
              <label class="label">Country</label>
              <input type="text" class="input form-control" formControlName="country" [ngClass]="{ 'is-invalid': submitted && a.country.errors }">
              <div *ngIf="submitted && a.country.errors" class="invalid-feedback">
                <div *ngIf="a.country.errors.required">Country is required</div>
              </div>
            </div>

            <div class="column is-3">
              <label class="label">City</label>
              <input type="text" class="input form-control" formControlName="city" [ngClass]="{ 'is-invalid': submitted && a.city.errors }">
              <div *ngIf="submitted && a.city.errors" class="invalid-feedback">
                <div *ngIf="a.city.errors.required">City is required</div>
              </div>
            </div>

            <div class="column is-2">
              <label class="label">Zip code</label>
              <input type="text" class="input form-control" formControlName="zipCode" [ngClass]="{ 'is-invalid': submitted && a.zipCode.errors }">
              <div *ngIf="submitted && a.zipCode.errors" class="invalid-feedback">
                <div *ngIf="a.zipCode.errors.required">ZipCode is required</div>
              </div>
            </div>

            <div class="column is-4">
              <label class="label">Street</label>
              <input type="text" class="input form-control" formControlName="street" [ngClass]="{ 'is-invalid': submitted && a.street.errors }">
              <div *ngIf="submitted && a.street.errors" class="invalid-feedback">
                <div *ngIf="a.street.errors.required">Street is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="field is-grouped is-grouped-left">
        <button class="button is-primary save-button">Save changes</button>
      </div>
    </form>
  </div>

  <div class="modal" [ngClass]="{'is-active':isModalActive}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body model-edit-profile-body">
        <button class="delete delete-modal-edit-profile" aria-label="close" (click)="removeActiveClass()"></button>
        <div class="modal-content-edit-profile">
          <p>You have successfully updated your profile!</p>
        </div>
      </section>
    </div>
  </div>

</div>
