.main-menu {
  margin-top: 10px;
  margin-bottom: 20px;

  .columns {
    display: flex;
    justify-content: space-evenly;
  }

  .my-menu a {
    display: block;
    text-align: center;
    border-color: orange;
    color: orange;
    background-color: transparent;
    border-width: 1px;
    padding: 5px 0;
    border-style: solid;
    border-radius: 20px;
    font-size: 20px;

    &:hover  {
      background-color: #0b0c10;
      border-color:white;
      color:white;
      cursor: pointer;
    }
  }
}
