<!--<div class="main-menu">-->
<!--  <div class="columns is-desktop is-12-mobile is-12-tablet is-multiline ">-->
<!--    <div class="my-menu column is-4 is-12-mobile is-tablet">-->
<!--      <a href="">-->
<!--        <span> <i class="ucxicon ucxicon-console2"></i></span>-->
<!--        <span> Games</span>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="my-menu column is-4 is-12-mobile is-tablet">-->
<!--      <a href="">-->
<!--        <span> <i class="ucxicon ucxicon-console2"></i></span>-->
<!--        <span> Consoles</span>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="my-menu column is-4 is-12-mobile is-tablet">-->
<!--      <a href="">-->
<!--        <span> <i class="ucxicon ucxicon-console2"></i></span>-->
<!--        <span> Accesories</span>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
