<div class="admin-dashboard-container">
  <div class="container dashboard">
    <div class="row background-color">
      <div class="col-12">
        <h1 class="welcome-message-for-dashboard">Welcome to Admin Dashboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="card" routerLink="/admin/products">
          <div class="card-header">
            Total Orders
          </div>
          <div class="card-body set-min-height">
            <h1 class="top_product_number">{{orderCount}}</h1>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="card" routerLink="/admin/orders">
          <div class="card-header">
            Most sold product
          </div>
          <div class="card-body">
            <h1 class="top_product_number">{{topProduct}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="dashboard_image_full_width">
            <span>
              <img src="assets/img/admin-module/homegaming.png">
            </span>
        </div>
<!--        <app-top-products-order></app-top-products-order>-->
      </div>
    </div>
  </div>
</div>




























