.static-filter {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 10px;
  position: fixed;
  display: inline;

  .search-icon {
    margin-left: 30px;
    margin-top: 18px;
  }

  .dropdown-categories {
    display: inline-block;
    width: 100%;
    position: static;
    padding-left: 35px;

    input[type="checkbox"] {
      display: none;
    }

    .dropdown-categories-content {
      width: 100%;
      display: none;
      visibility: collapse;
      position: relative;
      background-color: transparent;
      padding: 12px 16px;
    }

    #dropdown-categories-content:checked + .dropdown-categories-content {
      display: block;
      visibility: visible;
    }

    label {
      display: block;
    }
  }

  .dropdown-sort {
    display: inline-block;
    width: 100%;
    position: static;
    padding-left: 35px;

    input[type="checkbox"] {
      display: none;
    }

    .dropdown-sort-content {
      width: 100%;
      display: none;
      visibility: collapse;
      position: relative;
      background-color: transparent;
      padding: 12px 16px;
    }

    #dropdown-sort-content:checked + .dropdown-sort-content {
      display: block;
      visibility: visible;
    }

    label {
      display: block;
    }
  }

  .dropdown-filter {
    display: inline-block;
    width: 100%;
    position: static;
    padding-left: 35px;

    input[type="checkbox"] {
      display: none;
    }

    .dropdown-filter-content {
      width: 100%;
      display: none;
      visibility: collapse;
      position: relative;
      background-color: transparent;
      padding: 12px 16px;

      .slider {
        -webkit-appearance: none;

        height: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;

        &:hover {
          opacity: 1;
        }
      }

      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 10px;
        height: 7.5px;
        background: orange;
        cursor: pointer;
      }
    }

    #dropdown-filter-content:checked + .dropdown-filter-content {
      display: block;
      visibility: visible;
    }
  }
}

div.static-filter {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343 -29%, #000000);
  border-right: 1px solid grey;
  margin-top: -20px;
  padding-top: 20px;

  input {
    margin-left: 7px;
  }
}


@import 'slider-variables.scss';

:host {
  .mat-expansion-panel-header.ng-tns-c4-3.ng-trigger.ng-trigger-expansionHeight.mat-expansion-toggle-indicator-after.ng-star-inserted {
    color:#ffffff;
  }

  mat-expansion-panel-header.ng-tns-c4-1.ng-trigger.ng-trigger-expansionHeight.mat-expansion-toggle-indicator-after.ng-star-inserted {
    color:#ffffff;
  }

  mat-expansion-panel {
    mat-expansion-panel-header{
      mat-panel-title {
        color:white;
      }
    }
  }


  mat-accordion {
    @include ng-deep($enableNgDeep) {
      .ng5-slider {
        display: inline-block;
        position: relative;
        height: $barDimension;
        width: 100%;
        margin: $sliderMarginWithLabel 0 $sliderMargin 0;
        vertical-align: middle;
        user-select: none;
        touch-action: pan-y;

        &.with-legend {
          margin-bottom: $withLegendMargin;
        }

        &[disabled] {
          cursor: not-allowed;

          .ng5-slider-pointer {
            cursor: not-allowed;
            background-color: $handleDisabledColor;
          }

          .ng5-slider-draggable {
            cursor: not-allowed;
          }

          .ng5-slider-selection {
            background: $barDisabledFillColor;
          }

          .ng5-slider-tick {
            cursor: not-allowed;

            &.ng5-slider-selected {
              background: $barDisabledFillColor;
            }
          }
        }

        .ng5-slider-span {
          white-space: nowrap;
          position: absolute;
          display: inline-block;
        }

        .ng5-slider-base {
          width: 100%;
          height: 100%;
          padding: 0;
        }

        .ng5-slider-bar-wrapper {
          left: 0;
          box-sizing: border-box;
          margin-top: -$handleSize / 2;
          padding-top: $handleSize / 2;
          width: 100%;
          height: $handleSize;
          z-index: 1;
        }

        .ng5-slider-draggable {
          cursor: move;
        }

        .ng5-slider-bar {
          left: 0;
          width: 100%;
          height: $barDimension;
          z-index: 1;
          background: $barNormalColor;
          @include rounded($barDimension / 2);
        }

        .ng5-slider-bar-wrapper.ng5-slider-transparent .ng5-slider-bar {
          background: transparent;
        }

        .ng5-slider-bar-wrapper.ng5-slider-left-out-selection .ng5-slider-bar {
          background: $barLeftOutSelectionColor;
        }

        .ng5-slider-bar-wrapper.ng5-slider-right-out-selection .ng5-slider-bar {
          background: $barRightOutSelectionColor;
        }

        .ng5-slider-selection {
          z-index: 2;
          background: $barFillColor;
          @include rounded($barDimension / 2);
        }

        .ng5-slider-pointer {
          cursor: pointer;
          width: $handleSize;
          height: $handleSize;
          top: -$handleSize / 2 + $barDimension / 2;
          background-color: $handleBgColor;
          z-index: 3;
          @include rounded($handleSize / 2);

          &:after {
            content: '';
            width: $handlePointerSize;
            height: $handlePointerSize;
            position: absolute;
            top: $handleSize / 2 - $handlePointerSize / 2;
            left: $handleSize / 2 - $handlePointerSize / 2;
            @include rounded($handlePointerSize / 2);
            background: $handleInnerColor;
          }

          &:hover:after {
            background-color: $handleHoverColor;
          }

          &.ng5-slider-active {
            z-index: 4;

            &:after {
              background-color: $handleActiveColor;
            }
          }
        }

        .ng5-slider-bubble {
          cursor: default;
          bottom: $handleSize / 2;
          padding: $bubblePaddingVertical $bubblePaddingHorizontal;
          color: $labelTextColor;
          font-size: $labelFontSize;

          &.ng5-slider-limit {
            color: $limitLabelTextColor;
          }
        }

        .ng5-slider-ticks {
          box-sizing: border-box;
          width: 100%;
          height: 0;
          position: absolute;
          left: 0;
          top: -($ticksHeight - $barDimension) / 2;
          margin: 0;
          z-index: 1;
          list-style: none;
        }

        .ng5-slider-ticks-values-under {
          .ng5-slider-tick-value {
            top: auto;
            bottom: $ticksValuePosition - 2;
          }
        }

        .ng5-slider-tick {
          text-align: center;
          cursor: pointer;
          width: $ticksWidth;
          height: $ticksHeight;
          background: $ticksColor;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
          margin-left: $handleSize / 2 - $ticksWidth / 2; // for centering

          &.ng5-slider-selected {
            background: $selectedTicksColor;
          }
        }

        .ng5-slider-tick-value {
          position: absolute;
          top: $ticksValuePosition;
          transform: translate(-50%, 0);
        }

        .ng5-slider-tick-legend {
          position: absolute;
          top: $ticksLegendPosition;
          transform: translate(-50%, 0);
          max-width: $tickLegendMaxWidth;
          white-space: normal;
        }

        &.vertical {
          position: relative;
          width: $barDimension;
          height: 100%;
          margin: 0 $sliderVerticalMargin;
          padding: 0;
          vertical-align: baseline;
          touch-action: pan-x;

          .ng5-slider-base {
            width: 100%;
            height: 100%;
            padding: 0;
          }

          .ng5-slider-bar-wrapper {
            top: auto;
            left: 0;
            margin: 0 0 0 (-$handleSize / 2);
            padding: 0 0 0 $handleSize / 2;
            height: 100%;
            width: $handleSize;
          }

          .ng5-slider-bar {
            bottom: 0;
            left: auto;
            width: $barDimension;
            height: 100%;
          }

          .ng5-slider-pointer {
            left: -$handleSize / 2 + $barDimension / 2 !important;
            top: auto;
            bottom: 0;
          }

          .ng5-slider-bubble {
            left: $handleSize / 2 !important;
            bottom: 0;
          }

          .ng5-slider-ticks {
            height: 100%;
            width: 0;
            left: -($ticksHeight - $barDimension) / 2;
            top: 0;
            z-index: 1;
          }

          .ng5-slider-tick {
            vertical-align: middle;
            margin-left: auto;
            margin-top: $handleSize / 2 - $ticksWidth / 2; // for centering
          }

          .ng5-slider-tick-value {
            left: $ticksValuePositionOnVertical;
            top: auto;
            transform: translate(0, -28%);
          }

          .ng5-slider-tick-legend {
            top: auto;
            right: $ticksLegendPosition;
            transform: translate(0, -28%);
            max-width: none;
            white-space: nowrap;
          }

          .ng5-slider-ticks-values-under {
            .ng5-slider-tick-value {
              bottom: auto;
              left: auto;
              right: $ticksValuePositionOnVertical;
            }
          }
        }

        * {
          transition: none;
        }

        &.animate {
          .ng5-slider-bar-wrapper {
            transition: all linear $animationDuration;
          }

          .ng5-slider-selection {
            transition: background-color linear $animationDuration;
          }

          .ng5-slider-pointer {
            transition: all linear $animationDuration;
          }

          .ng5-slider-bubble {
            transition: all linear $animationDuration;

            &.ng5-slider-limit {
              transition: opacity linear $animationDuration;
            }

            &.ng5-slider-combined {
              transition: opacity linear $animationDuration;
            }
          }

          .ng5-slider-tick {
            transition: background-color linear $animationDuration;
          }
        }
      }
    }
  }
}

.game-textt {
  color:#ffffff;
  margin-left:10px;
}


.shop-button {
  marign-left:20px;
}

