.panel{
  margin-bottom: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14);
  &:hover {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  }
  .contentt{
    .mat-slider {
      width: 100%;
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      padding: 8px;
      outline: 0;
      vertical-align: middle;
    }

  }
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
