<mat-accordion>
  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Brands
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="contentt">
      <ul class="game-list">
        <li *ngFor="let b of brandsList " class="game-item">
          <input (change)="selectedBrand(b.id)" type="checkbox"
                 name="games"
                 value="{{b.id}}"/>
          <span class="game-text">{{b.name}}</span>
        </li>
      </ul>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Price
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng5-slider [(value)]="minValue getProductsByPrice()"
                [(highValue)]="maxValue getProductsByPrice()"
                [options]="options"></ng5-slider>
  </mat-expansion-panel>
</mat-accordion>



