<mat-accordion>
  <button class="clear-button button is-danger is-inverted is-outlined" (click)="clearFilters()"> Clear</button>
  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Brands
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="contentt">
      <ul class="game-list">

        <li *ngFor="let b of brandsList " class="game-item">

          <input (change)="selectedBrand(b.id)" type="checkbox"
                 value="{{b.id }}"  [checked]="b.checked"/>
          <span class="game-textt">{{b.name  }}</span>
        </li>
      </ul>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Price
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="custom-slider">
      <ng5-slider
        [(value)]="minValue"
        [(highValue)]="maxValue"
        (userChangeEnd)="getProductsByPrice($event)"
        [options]="options"></ng5-slider>
    </div>

  </mat-expansion-panel>
</mat-accordion>



