@mixin ng-deep($enableNgDeep: true) {
  @if $enableNgDeep {
    ::ng-deep {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin rounded($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

$enableNgDeep: true !default;

$handleActiveColor: #ffffff !default;
$handleHoverColor: #ffffff !default;
$labelTextColor: #ffffff !default;
$handleBgColor: orangered !default;
$handleInnerColor: #ffffff !default;
$handleDisabledColor: orangered !default;
$limitLabelTextColor: $labelTextColor !default;
$barFillColor: #ffffff !default;
$barDisabledFillColor: grey !default;
$barNormalColor: #d8e0f3 !default;
$barLeftOutSelectionColor: #ffffff !default;
$barRightOutSelectionColor: #ffffff !default;

$ticksColor: $barNormalColor !default;
$selectedTicksColor: $barFillColor !default;
$ticksWidth: 10px !default;
$ticksHeight: 10px !default;
$ticksValuePosition: -34px !default;
$ticksLegendPosition: 24px !default;
$ticksValuePositionOnVertical: 24px !default;
$tickLegendMaxWidth: 50px !default;

$handleSize: 25px !default;
$handlePointerSize: 5px !default;
$bubblePaddingVertical: 1px !default;
$bubblePaddingHorizontal: 3px !default;
$labelFontSize: 16px !default;
$barDimension: 4px !default;

$withLegendMargin: 40px !default;

$sliderMargin: 15px !default;
$sliderMarginWithLabel: 35px !default;
$sliderVerticalMargin: 20px !default;

$animationDuration: 0.3s !default;
