<div class="container">
  <div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Categories</h3>
    <div class="card-body">
      <div class="table-editable" id="table">
            <span class="table-add float-right mb-3 mr-2">
                <a>
                <i (click)="openInsert()" class="fas fa-plus"></i>
                </a>
            </span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th>Name</th>
            <th>Record Status</th>
            <th>Create Time</th>
            <th>Update Time</th>
            <th>Delete Time</th>
            <th>Description</th>
            <th>Version</th>
            <th> </th>
          </tr>
          <tr *ngFor="let c of categoriesList">
            <td>{{c.name}}</td>
            <td>{{c.recordStatus}}</td>
            <td>{{c.createDateTime}}</td>
            <td>{{c.updateDateTime}}</td>
            <td>{{c.deletedDateTime}}</td>
            <td>{{c.description}}</td>
            <td>{{c.version}}</td>
            <td>
              <a>
                <i
                  (click)="openUpdate(
                c.id,
                c.name,
                c.recordStatus,
                c.updateDateTime,
                c.deletedDateTime,
                c.description,
                c.version) "
                  class="far fa-edit"></i>
              </a>
              <i (click)="openDelete(c.id)" class="fa fa-trash" aria-hidden="true"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

<!--  <div [ngClass]="{ 'is-active' : deleteModal }" class="modal">-->
<!--    <div (click)="toggleModal()" class="modal-background"></div>-->
<!--    <div class="modal-card">-->
<!--      <header class="modal-card-head">-->
<!--        <p class="modal-card-title">Delete Customer</p>-->
<!--        <button (click)="toggleModal()" aria-label="close" class="delete"></button>-->
<!--      </header>-->
<!--      <section class="modal-card-body">-->
<!--        <p><strong>Are you sure you want to delete this Category ?</strong></p>-->
<!--        <p>All information associated to this customer will be permanently deleted.-->
<!--          <br>-->
<!--          <span class="has-text-danger">This operation can not be undone!</span>-->
<!--      </section>-->
<!--      <footer class="modal-card-foot">-->
<!--        <button (click)="onDelete()" class="button is-danger">Delete</button>-->
<!--        <button (click)="toggleModal()" class="button">Cancel</button>-->
<!--      </footer>-->
<!--    </div>-->
<!--  </div>-->


  <div [ngClass]="{ 'is-active' : updateModal }" class="modal">
    <div (click)="closeUpdateModal()" class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Update Category</p>
        <button (click)="closeUpdateModal()" aria-label="close" class="delete"></button>
      </header>
      <section class="modal-card-body">
        <form (ngSubmit)="onSubmit( )" [formGroup]="updateForm">
          <input class="form-control" formControlName="name"
                 placeholder="Name"
                 required
                 type="text">
          <input class="form-control" formControlName="recordStatus"
                 placeholder="Record Status"
                 required
                 type="text">
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
          </div>
        </form>
      </section>
      <footer class="modal-card-foot">
        <button (click)="onUpdate()" class="button is-danger">Update</button>
        <button (click)="closeUpdateModal()" class="button">Cancel</button>
      </footer>
    </div>
  </div>


  <div [ngClass]="{ 'is-active' : insertModal }" class="modal">
    <div (click)="closeInsertModal()" class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Insert Category</p>
        <button (click)="closeInsertModal()" aria-label="close" class="delete"></button>
      </header>
      <section class="modal-card-body">
        <form (ngSubmit)="onSubmit( )" [formGroup]="form">
          <input class="form-control" formControlName="name"
                 placeholder="Name"
                 required
                 type="text">
          <input class="form-control" formControlName="recordStatus"
                 placeholder="Record Status"
                 required
                 type="text">
          <div class="control">
            <textarea class="textarea" placeholder="Add your description here! "></textarea>
          </div>
        </form>
      </section>
      <footer class="modal-card-foot">
        <button (click)="onSubmit()" class="button is-danger">Submit</button>
        <button (click)="closeInsertModal()" class="button">Cancel</button>
      </footer>
    </div>
  </div>



















