.details li {
  list-style: none;
}
li {
  margin-bottom:10px;

}
/*.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #2d323e;
  border-radius: .3rem;
  color: white;
}*/
.myProfile {
  border-bottom:1px solid black;
}
