
<div class="row">
  <div class="col-12">
    <br>
    <br>
  </div>
</div>
<div class="panel-body columns is-multiline overflow-auto">
  <div class="row column columns is-10-desktop is-offset-1-desktop ng-star-inserted">
    <div class="col-md-10 col-sm-12 col-xs-12">
      <div class="orderstats">
        <canvas id="order">
        </canvas>
      </div>
    </div>
    <div class="col-12">
      <br>
      <hr class="grey_hr">
      <br>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
      <div class="orderstats">
        <canvas id="income">
        </canvas>
      </div>
    </div>
  </div>
</div>
