<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>UCX GAMES</mat-toolbar>
    <div class="side-nav-container">
      <p class="user"> {{username}}</p>
      <p class="detalis">{{email}}</p>
    </div>
    <mat-nav-list (click)="closeSideNav()">
      <a mat-list-item routerLink="/admin/home" routerLinkActive="active" class="sidebarMenu"><i
        class="fa fa-home"></i> Home</a>
      <a mat-list-item routerLink="/admin/categories" routerLinkActive="active" class="sidebarMenu"> <i
        class="fa fa-tablet"></i> Categories</a>
      <a mat-list-item routerLink="/admin/brands" routerLinkActive="active" class="sidebarMenu"> <i
        class="fa fa-building"></i> Brands</a>
      <a mat-list-item routerLink="/admin/products" routerLinkActive="active" class="sidebarMenu"> <i
        class="fas fa-shopping-cart"></i> Products</a>
      <a mat-list-item routerLink="admin/custumers" routerLinkActive="active" class="sidebarMenu"> <i class="fa fa-user"></i>
        Customers</a>
      <a mat-list-item routerLink="/admin/orders" routerLinkActive="active" class="sidebarMenu"> <i
        class="fa fa-building"></i> Orders</a>
      <a mat-list-item routerLink="/admin/activitylogs" routerLinkActive="active" class="sidebarMenu"> <i
        class="fa fa-tablet"></i>Activity Logs</a>
      <a mat-list-item routerLink="/admin/roles" routerLinkActive="active" class="sidebarMenu"> <i
        class="fa fa-user"></i> Roles</a>
      <a mat-list-item routerLink="/admin/users" routerLinkActive="active" class="sidebarMenu"> <i
        class="fa fa-user"></i> Users</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span> Admin Dashboard</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
