<app-header></app-header>
<div class="container">
  <div class="checkout-steps">
    <div class="step-buttons no-hover">
      <progress class="progress is-danger" value="50" max="100">15%</progress>
    </div>
  </div>

  <div class="sub-info">
    <div class="columns is-mobile">
      <div class="column is-6-desktop is-6-mobile ">
        <h1>VERIFICATION</h1>
      </div>
      <div class="column is-6-desktop is-6-mobile has-text-right">
        <h1>Order-696969</h1>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="columns is-mobile is-multiline">
      <div class="column is-4-desktop is-12-mobile shipping-parent">
        <div class="shipping-total">
          <i class="fa fa-credit-card fa-3x credit-card-iconi"></i>
          <h3>ORDER TOTAL</h3>
          <h2 class="title" id="title">{{generateTotalPrice().toFixed(2)}}</h2>
          <h3>{{getProductsFromCart().length}} {{getProductsFromCart().length > 1 ? 'products are ordered': 'product is ordered'}}</h3>
        </div>
      </div>

      <div class="column is-8-desktop is-12-mobile shipping-parent-infos">
        <div class="columns is-mobile shipping-infos" *ngFor="let item of getProductsFromCart(); let i = index;">
          <div class="column is-6-desktop is-6-mobile">
            <div class="shipping-delivery-content">
              <span><h3 *ngIf="item.product.name != null">{{item.product.name}}</h3></span>
              <span><h5 *ngIf="item.product.platform != null">{{item.product.platform.name}}</h5></span>
            </div>
          </div>
          <div class="column is-3-desktop is-3-mobile">
            <div class="quantity">
              <span><h3>Quantity</h3></span>
              <span><h5 *ngIf="item.qty != null">{{item.qty}}</h5></span>
            </div>
          </div>
          <div class="column is-3-desktop is-3-mobile">
            <div class="order-price">
              <span><h3>Unit Price</h3></span>
              <span><h5 *ngIf="item.product.unitPrice != null">{{item.product.unitPrice}}</h5></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns back-next-buttons is-mobile">
    <div class="column is-6-desktop is-6-mobile left-button">
      <a class="button " routerLink="/cart/shipping">Previous</a>
    </div>
    <div class="column is-6-desktop is-6-mobile right-button">
      <a class="button" routerLink="/cart/payment-methods">Next</a>
    </div>
  </div>
</div>
