<app-header></app-header>
<div class="shop-wrapper">

  <div class="checkout-steps">
    <div class="step-buttons no-hover">
      <a class="button is-rounded is-hovered" href="checkout.html">1</a>
      <a class="button is-rounded is-hovered" href="shipping.html">2</a>
      <a class="button is-rounded is-hovered" href="verification.html">3</a>
      <a class="button is-rounded is-hovered" href="payment-methods.html">4</a>
    </div>
  </div>

  <section class="section">

    <div class="container ">

      <div class="sub-info">
        <div class="columns is-mobile">
          <div class="column is-6-desktop is-6-mobile ">
            <h1>SHIPPING</h1>
          </div>
          <div class="column is-6-desktop is-6-mobile has-text-right">
            <h1>Order-42319</h1>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- Checkout step 3 -->
        <div class="columns account-header">
          <!-- Title -->
          <!-- Card -->
          <div class="columns is-vcentered">
            <div class="column is-5 has-text-centered grey-column has-popover-top enhanced-popover-hidden-mobile ">
              <div class="shipping-wrapper">
                <div class="columns is-multiline is-gapless">
                  <!-- Shipping method selection -->
                  <div class="column is-12 ">
                    <img class="shipping-image" src="assets/img/delivery-truck.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-7 is-padded shipping-form-container">
              <form [formGroup]="shippingForm" class="form" (submit)="onSubmit($event)">
                <h3 class="title is-5 static-titles">Addresses</h3>
                <div id="box-address">
                  <div formArrayName="addresses" *ngFor="let _ of informationForm.get('addresses')['controls']; let i = index;">
                    <div class="columns" [formGroupName]="i">
                      <div class="column is-2">
                        <label class="label">Country</label>
                        <input type="text" class="input" formControlName="country">
                      </div>

                      <div class="column is-2">
                        <label class="label">City</label>
                        <input type="text" class="input" formControlName="city">
                      </div>

                      <div class="column is-2">
                        <label class="label">Zip code</label>
                        <input type="text" class="input" formControlName="zipCode">
                      </div>

                      <div class="column is-4">
                        <label class="label">Street</label>
                        <input type="text" class="input" formControlName="street">
                      </div>
                      <div class="column is-2 delete-phone-number" *ngIf="i != 0">
                        <label class="label"></label><br>
                        <button class="button is-danger" (click)="onAddressDelete($event, i)">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="addaddress" class="button add-field-button" (click)="onAddAddress($event)">Add address</button>
              </form>
            </div>
          </div>
        </div>
        <div class="columns is-mobile shipping-nav-buttons">
          <div class="column is-6-desktop is-6-mobile has-text-left">
            <a class="nav-buttons-shipping button" routerLink="/account-info"><span>Previous</span></a>
          </div>

          <div class="column is-6-desktop is-6-mobile has-text-right ">
            <a class="nav-buttons-shipping button" routerLink="/"><span>Next</span></a>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
