<app-header></app-header>
<div class="shop-wrapper">
  <section class="section">
    <div class="container ">

      <div class="checkout-steps">
        <div class="step-buttons no-hover">
          <progress class="progress is-danger" max="100" value="33.33"></progress>
        </div>
      </div>

      <div class="sub-info">
        <div class="columns is-mobile">
          <div class="column is-6-desktop is-6-mobile ">
            <h1>Activation Information</h1>
          </div>
          <div class="column is-6-desktop is-6-mobile has-text-right">
            <h1>Order-42319</h1>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- Checkout step 3 -->
        <div class="columns account-header">
          <!-- Title -->
          <!-- Card -->
          <div class="columns is-vcentered">
            <div class="column is-3 has-text-centered grey-column has-popover-top enhanced-popover-hidden-mobile ">
              <div class="shipping-wrapper">
                <div class="columns is-multiline is-gapless">
                  <!-- Shipping method selection -->
                  <div class="column is-12 ">
                    <!--                    <img class="shipping-image" src="assets/img/delivery-truck.png">-->
                    <i class="fab fa-steam steam-icon"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-9 shipping-form-container">
              <h1 class="title" id="title">Steam Information</h1>
              <h1>License codes and activation link will be sent to this email:</h1>
              <h2 class="customer-email">{{this.customerEmail}}</h2>
              <br>
              <p><strong class="alertion">Important:</strong><br>
                Ensure that you are activating your game through the Steam application. The Steam website or the Steam
                client can
                be used to activate a game. You can download and install the Steam
                application by clicking on the green "Install Steam Now" button here:
              </p>
              <a href="http://store.steampowered.com/about/">http://store.steampowered.com/about/</a>
              <br><br>
              <p>Note: You will need a Steam account to activate the product</p>
            </div>
          </div>
        </div>
        <div class="columns is-mobile shipping-nav-buttons">
          <div class="column is-6-desktop is-6-mobile has-text-left">
            <a class="button previous-button" routerLink="/cart"><span>Previous</span></a>
          </div>
          <div class="column is-6-desktop is-6-mobile has-text-right ">
            <!--            <button (click)="onSubmit($event); " [disabled]="nextClicked" class="nav-buttons-shipping button"-->
            <button (click)="onSubmit($event); " class="button"
                    routerLink="/cart/verification"><span>Next</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

