<app-header></app-header>
<div class="shop-wrapper">

  <div class="checkout-steps">
    <div class="step-buttons no-hover">
      <a class="button is-rounded is-hovered" href="checkout.html">1</a>
      <a class="button is-rounded is-hovered" href="shipping.html">2</a>
      <a class="button is-rounded is-hovered" href="verification.html">3</a>
      <a class="button is-rounded is-hovered" href="payment-methods.html">4</a>
    </div>
  </div>

  <section class="section">

    <div class="container ">

      <div class="sub-info">
        <div class="columns is-mobile">
          <div class="column is-6-desktop is-6-mobile ">
            <h1>SHIPPING</h1>
          </div>
          <div class="column is-6-desktop is-6-mobile has-text-right">
            <h1>Order-42319</h1>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- Checkout step 3 -->
        <div class="columns account-header">
          <!-- Title -->
          <!-- Card -->
          <div class="columns is-vcentered">
            <div class="column is-5 has-text-centered grey-column has-popover-top enhanced-popover-hidden-mobile ">
              <div class="shipping-wrapper">
                <div class="columns is-multiline is-gapless">
                  <!-- Shipping method selection -->
                  <div class="column is-12 ">
                    <img class="shipping-image" src="assets/img/delivery-truck.png">
                  </div>
                </div>
              </div>
            </div>
            <!-- Shipping Popover -->
            <!-- Shipping Address form -->
            <div class="column is-7 is-padded shipping-form-container">
              <form [formGroup]="shippingForm" class="shipping-address-form">
                <div class="columns is-multiline">
                  <!-- Form control -->
                  <div class="column is-6">
                    <div class="control">
                      <label class="checkout-label">Address</label>
                      <input class="input" placeholder="23, Block C2" type="text">
                    </div>
                  </div>
                  <!-- Form control -->
                  <div class="column is-6">
                    <div class="control">
                      <label class="checkout-label">Street</label>
                      <input class="input" placeholder="Church Street" type="text">
                    </div>
                  </div>
                  <!-- Form control -->
                  <div class="column is-6">
                    <div class="control">
                      <label class="checkout-label">Postal Code</label>
                      <input class="input" placeholder="100065" type="email">
                    </div>
                  </div>
                  <!-- Form control -->
                  <div class="column is-6">
                    <div class="control">
                      <label class="checkout-label">City</label>
                      <input class="input" placeholder="New York" type="email">
                    </div>
                  </div>
                  <!-- Form control -->
                  <div class="column is-6">
                    <div class="control">
                      <label class="checkout-label">State/Region</label>
                      <input class="input" placeholder="NYC" type="email">
                    </div>
                  </div>
                  <!-- Chosen Select -->
                  <div class="column is-6">
                    <label class="checkout-label">Country</label>
                    <br>
                    <div class="control has-icons-left">
                      <div class="select">
                        <select id="shipping-select-country">
                          <option selected="">United States</option>
                          <option>Albania</option>
                          <option>Germany</option>
                          <option>Kosovo</option>
                        </select>
                      </div>
                      <span class="icon is-left"><i class="fas fa-globe"></i></span>
                    </div>
                  </div>

                  <div class="column is-6" id="existing-address-form">
                    <div class="control">
                      <label class="checkbox">
                        <input id="use-my-address" type="checkbox">Deliver to one of my addresses
                      </label>
                      <br>
                      <div class="select">
                        <select>
                          <option>Address 1</option>
                          <option>Address 2</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="columns is-mobile shipping-nav-buttons">
          <div class="column is-6-desktop is-6-mobile has-text-left">
            <a class="nav-buttons-shipping button" routerLink="/account-info"><span>Previous</span></a>
          </div>

          <div class="column is-6-desktop is-6-mobile has-text-right ">
            <a class="nav-buttons-shipping button" routerLink="/"><span>Next</span></a>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
