<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
               class="sidenav"
               fixedInViewport="true">
    <mat-toolbar>UCX Games</mat-toolbar>
    <div class="side-nav-container">
      <p class="user"> {{username}}</p>
      <p class="detalis">{{role}}</p>
    </div>
    <mat-nav-list (click)="closeSideNav()">
      <a class="sidebarMenu" mat-list-item routerLink="/admin/home">
        <i class="fa fa-home"></i> Home</a>
      <a class="sidebarMenu" mat-list-item routerLink="/admin/platforms">
        <i class="fa fa-tablet"></i> Platforms</a>
      <a class="sidebarMenu" mat-list-item routerLink="/admin/brands">
        <i class="fa fa-tablet"></i> Brands</a>
      <a class="sidebarMenu" mat-list-item routerLink="/admin/products">
        <i class="fas fa-shopping-cart"></i> Products</a>
      <a class="sidebarMenu" mat-list-item routerLink="/admin/customers">
        <i class="fa fa-user"></i>Customers</a>
      <a class="sidebarMenu" mat-list-item routerLink="/admin/orders">
        <i class="fa fa-building"></i> Orders</a>
      <a class="sidebarMenu" mat-list-item routerLink="/admin/activitylogs">
        <i class="fa fa-tablet"></i>Activity Logs</a>
      <a class="sidebarMenu" mat-list-item routerLink="/admin/roles">
        <i class="fa fa-user"></i> Roles</a>
      <a class="sidebarMenu" mat-list-item routerLink="/admin/users">
        <i class="fa fa-user"></i> Users</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>   </span>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6">
            <div class="row set-contnet-right">
              <div class="menu-item-logout">
                <div class="d-inline-block " ngbDropdown>
                  <button class="btn" id="dropdownBasic1" ngbDropdownToggle>{{username}}</button>
                  <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
                    <button (click)="onLogOut()" ngbDropdownItem>Log Out</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
