<mat-sidenav-container class="sidenav-container" xmlns:dipslay="http://www.w3.org/1999/xhtml">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
               class="sidenav"
               fixedInViewport="true">

      <img src="assets/img/My-Cart/logo-xd.png"
           alt="logo"
           class="admin-ucx-logo"
           [routerLink]="['/admin']">



    <div class="side-nav-container">
      <p class="user"> {{username}}</p>
      <p class="detalis">{{role}}</p>
    </div>
    <mat-nav-list (click)="closeSideNav()">
      <a routerLinkActive="active" class="sidebarMenu" mat-list-item routerLink="/admin/home">
        <i class="admin-icon fa fa-home"></i> Home</a>
      <a routerLinkActive="active" class="sidebarMenu" mat-list-item routerLink="/admin/platforms">
        <i class="admin-icon fa fa-tablet"></i> Platforms</a>
      <a  routerLinkActive="active" class="sidebarMenu" mat-list-item routerLink="/admin/brands">
        <i class="admin-icon fa fa-gamepad"></i> Brands</a>
      <a  routerLinkActive="active" class="sidebarMenu" mat-list-item routerLink="/admin/products">
        <i class="admin-icon fa fa-cart-plus"></i> Products</a>
      <a  routerLinkActive="active" class="sidebarMenu" mat-list-item routerLink="/admin/customers">
        <i class="admin-icon fa fa-user"></i>Customers</a>
      <a  routerLinkActive="active" class="sidebarMenu" mat-list-item routerLink="/admin/orders">
        <i class="admin-icon fa fa-truck"></i> Orders</a>
<!--      <a class="sidebarMenu" mat-list-item routerLink="/admin/activitylogs">
        <i class="fa fa-tablet"></i>Activity Logs</a>
      <a class="sidebarMenu" mat-list-item routerLink="/admin/roles">
        <i class="fa fa-user"></i> Roles</a>
      <a class="sidebarMenu"  mat-list-item routerLink="/admin/users">
        <i class="fa fa-user"></i> Users</a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="overflow-hidden">
    <mat-toolbar class="admin-dashboard-header-menu">
      <button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon"></mat-icon>
      </button>
      <span>   </span>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6">
            <div class="row set-contnet-right">
              <div class="menu-item-logout">
                <div class="d-inline-block " ngbDropdown>
                  <button class="btn" id="dropdownBasic1" ngbDropdownToggle>{{username}}</button>
                  <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
                    <button routerLink="my-profile" ngbDropdownItem><i class="fa fa-user"></i>  My Profile</button>
                    <button (click)="this.userService.logout()" ngbDropdownItem><i class="fa fa-sign-out"></i>  Log Out</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
