<div class="columns" id="admin-filters">
  <div id="filters-container"
       class="columns column is-half-desktop is-12-mobile is-offset-half-desktop is-vcentered">

    <div class="control column is-narrow is-12-mobile ">
      <input class="input is-info" type="text" placeholder="Search...">
    </div>


    <div class="control column is-narrow is-7-mobile ">
      <div class="select is-info">
        <select>
          <option>Order</option>
          <option>Customer Id</option>
          <option>Date</option>
          <option>Customer Name</option>


        </select>
      </div>
    </div>

    <div class="column is-narrow is-1-mobile">
     <span class="fa-stack fa-1x button  is-outlined">
  <i class="fas fa-filter fa-stack-1x"></i>
  <i class="fas fa-ban fa-stack-1x" style="color:Tomato"></i>
</span>
    </div>

  </div>
</div>
