.my-cart {
  .image {
    border: 1px solid grey;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

    &:hover {
      //transform: scale(1.05);
      //transition-duration: 0.7s;
    }
  }

  h4 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}

.image {
  min-height: 345px;
  max-height: 345px;

  img {
    object-fit: cover;
    min-height: 345px;
    max-height: 345px;
    width: 100%;
  }
}

.buy-now-div{
  padding-right: 25px;
  .buy-now{
    background-color: black;
    color: orange;
    border: none;
    border-radius: 6px;
  }
}

.item-box:hover{
  transform: scale(1.05);
  transition-duration: 0.7s;
}
