hr.grey_hr {
  background: #efefef;
}
.table_head {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
#topSoldTable {
  .product-image-sizing {
    max-height: 50px;
    width: auto;
    max-width: 50px;
  }

  .hover-transform:hover {
    box-shadow: 2px 5px 10px lightgrey inset;
  }

}
